In [1]:
import pandas as pd
import numpy as np
import time
import duckdb 
# import numpy as np
# import matplotlib
# import matplotlib.pyplot as plt
# import seaborn as sns

In [2]:
#%pip install duckdb==0.8.0

In [3]:
# urls = "https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_{}.csv"

# years = range(1991,2024)

# df_pandas = pd.DataFrame()
# for i in years:
#     url = urls.format(i)
#     df = pd.read_csv(url)
#     df_pandas = pd.concat([df_pandas,df ])

# df_pandas.to_csv('all_years_csv.csv', index=False)

In [4]:
#df_pandas

In [5]:
df_pandas_local = pd.read_csv('all_years_csv.csv',low_memory=False)
#df_pandas_local = pd.read_csv('all_years_csv.csv')

In [6]:
df_pandas_local

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,1991-339,Adelaide,Hard,32,A,19901231,1,101723,NaN,NaN,...,62.0,44.0,23.0,16.0,6.0,8.0,56.0,NaN,2.0,NaN
1,1991-339,Adelaide,Hard,32,A,19901231,2,100946,NaN,Q,...,41.0,35.0,27.0,15.0,1.0,2.0,304.0,NaN,75.0,NaN
2,1991-339,Adelaide,Hard,32,A,19901231,3,101234,NaN,NaN,...,37.0,22.0,6.0,8.0,4.0,8.0,82.0,NaN,69.0,NaN
3,1991-339,Adelaide,Hard,32,A,19901231,4,101889,8.0,NaN,...,45.0,30.0,11.0,10.0,5.0,8.0,50.0,NaN,84.0,NaN
4,1991-339,Adelaide,Hard,32,A,19901231,5,101274,NaN,NaN,...,41.0,28.0,15.0,11.0,4.0,8.0,88.0,NaN,28.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103999,2023-M-DC-2023-WG2-PO-RSA-LUX-01,Davis Cup WG2 PO: RSA vs LUX,Hard,4,D,20230204,5,202335,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1717.0,1.0
104000,2023-M-DC-2023-WG2-PO-TUN-CYP-01,Davis Cup WG2 PO: TUN vs CYP,Hard,4,D,20230203,1,117365,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,990.0,11.0,279.0,190.0
104001,2023-M-DC-2023-WG2-PO-TUN-CYP-01,Davis Cup WG2 PO: TUN vs CYP,Hard,4,D,20230203,2,121411,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,364.0,131.0,894.0,15.0
104002,2023-M-DC-2023-WG2-PO-TUN-CYP-01,Davis Cup WG2 PO: TUN vs CYP,Hard,4,D,20230203,4,144949,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,894.0,15.0,285.0,184.0
104003,2023-M-DC-2023-WG2-PO-TUN-CYP-01,Davis Cup WG2 PO: TUN vs CYP,Hard,4,D,20230203,5,121411,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,364.0,131.0,990.0,11.0

In [7]:
# csv_23 = duckdb.read_csv('C:/Users/44783/Documents/BBK/Project/Yuval/atp_matches_2023.csv') 
# csv_22 = duckdb.read_csv('C:/Users/44783/Documents/BBK/Project/Yuval/atp_matches_2022.csv') 
# csv_21 = duckdb.read_csv('C:/Users/44783/Documents/BBK/Project/Yuval/atp_matches_2021.csv')

In [8]:
# table_23 = duckdb.sql('SELECT * FROM "csv_23"')
# table_22 = duckdb.sql('SELECT * FROM "csv_22"')
# table_21 = duckdb.sql('SELECT * FROM "csv_21"')

In [9]:
#table_23.show()

In [10]:
# union_all_tables = duckdb.sql('''

#         SELECT * FROM "table_21"
#         union all 
#         SELECT * FROM "table_22"
#         union all 
#         SELECT * FROM "table_23"
        
# ''')

In [11]:
# union_all_tables = duckdb.sql('''

#         SELECT * from df_pandas_local
        
# ''')

In [12]:
#union_all_tables.show()

In [13]:
#union_all_tables_all_years.show()

In [14]:
#df_pandas = union_all_tables.df()

In [15]:
#df_pandas

In [16]:
# 1. clearing nulls
# 2. choosing columns and transforming data
# 3. analysis

In [17]:
df_pandas_local.describe()

,draw_size,tourney_date,match_num,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
count,104004.000000,1.040040e+05,104004.000000,104004.000000,101599.000000,103999.000000,104004.000000,99225.000000,103983.000000,104004.000000,...,93801.000000,93801.000000,93801.000000,93802.000000,93801.000000,93801.000000,102817.000000,101829.000000,101472.000000,100489.000000
mean,53.361332,2.005701e+07,71.404696,106447.326997,185.706021,25.764474,106563.721895,185.201512,25.878070,3.439387,...,48.044093,31.918775,14.974489,12.198706,4.810077,8.736719,80.733060,1426.469974,119.178108,894.372648
std,38.589626,9.371884e+04,112.543175,15157.429801,6.661096,3.801114,15368.291793,6.609441,3.927102,0.828082,...,19.379791,14.441970,7.212171,4.128747,3.274951,4.132850,134.703406,1750.689119,179.936752,1000.991736
min,2.000000,1.990123e+07,1.000000,100284.000000,160.000000,14.300000,100282.000000,160.000000,14.500000,3.000000,...,0.000000,0.000000,0.000000,0.000000,-6.000000,0.000000,1.000000,1.000000,1.000000,1.000000
25%,32.000000,1.997092e+07,10.000000,102148.000000,180.000000,22.900000,102148.000000,180.000000,23.000000,3.000000,...,34.000000,22.000000,10.000000,9.000000,2.000000,6.000000,18.000000,528.000000,37.000000,394.000000
50%,32.000000,2.005072e+07,24.000000,103598.000000,185.000000,25.500000,103543.000000,185.000000,25.700000,3.000000,...,45.000000,29.000000,14.000000,11.000000,4.000000,8.000000,46.000000,879.000000,70.000000,657.000000
75%,64.000000,2.014011e+07,70.000000,104792.000000,190.000000,28.300000,104898.000000,190.000000,28.500000,3.000000,...,58.000000,40.000000,19.000000,15.000000,7.000000,11.000000,89.000000,1595.000000,119.000000,1040.000000
max,128.000000,2.023063e+07,1701.000000,211468.000000,211.000000,42.700000,212041.000000,211.000000,46.000000,5.000000,...,328.000000,284.000000,101.000000,91.000000,28.000000,38.000000,2101.000000,16950.000000,2159.000000,16950.000000

In [18]:
df_pandas_local.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104004 entries, 0 to 104003
Data columns (total 49 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   tourney_id          104004 non-null  object
 1   tourney_name        104004 non-null  object
 2   surface             104004 non-null  object
 3   draw_size           104004 non-null  int64
 4   tourney_level       104004 non-null  object
 5   tourney_date        104004 non-null  int64
 6   match_num           104004 non-null  int64
 7   winner_id           104004 non-null  int64
 8   winner_seed         42111 non-null   object
 9   winner_entry        12680 non-null   object
 10  winner_name         104004 non-null  object
 11  winner_hand         103995 non-null  object
 12  winner_ht           101599 non-null  float64
 13  winner_ioc          104004 non-null  object
 14  winner_age          103999 non-null  float64
 15  loser_id            104004 non-null  int64
 16  loser_seed          23152 non-null   object
 17  loser_entry         20887 non-null   object
 18  loser_name          104004 non-null  object
 19  loser_hand          103962 non-null  object
 20  loser_ht            99225 non-null   float64
 21  loser_ioc           104004 non-null  object
 22  loser_age           103983 non-null  float64
 23  score               104004 non-null  object
 24  best_of             104004 non-null  int64
 25  round               104004 non-null  object
 26  minutes             90968 non-null   float64
 27  w_ace               93801 non-null   float64
 28  w_df                93801 non-null   float64
 29  w_svpt              93801 non-null   float64
 30  w_1stIn             93801 non-null   float64
 31  w_1stWon            93801 non-null   float64
 32  w_2ndWon            93801 non-null   float64
 33  w_SvGms             93802 non-null   float64
 34  w_bpSaved           93801 non-null   float64
 35  w_bpFaced           93801 non-null   float64
 36  l_ace               93801 non-null   float64
 37  l_df                93801 non-null   float64
 38  l_svpt              93801 non-null   float64
 39  l_1stIn             93801 non-null   float64
 40  l_1stWon            93801 non-null   float64
 41  l_2ndWon            93801 non-null   float64
 42  l_SvGms             93802 non-null   float64
 43  l_bpSaved           93801 non-null   float64
 44  l_bpFaced           93801 non-null   float64
 45  winner_rank         102817 non-null  float64
 46  winner_rank_points  101829 non-null  float64
 47  loser_rank          101472 non-null  float64
 48  loser_rank_points   100489 non-null  float64
dtypes: float64(27), int64(6), object(16)
memory usage: 38.9+ MB

In [19]:
df_pandas_local.isnull().sum()

tourney_id                0
tourney_name              0
surface                   0
draw_size                 0
tourney_level             0
tourney_date              0
match_num                 0
winner_id                 0
winner_seed           61893
winner_entry          91324
winner_name               0
winner_hand               9
winner_ht              2405
winner_ioc                0
winner_age                5
loser_id                  0
loser_seed            80852
loser_entry           83117
loser_name                0
loser_hand               42
loser_ht               4779
loser_ioc                 0
loser_age                21
score                     0
best_of                   0
round                     0
minutes               13036
w_ace                 10203
w_df                  10203
w_svpt                10203
w_1stIn               10203
w_1stWon              10203
w_2ndWon              10203
w_SvGms               10202
w_bpSaved             10203
w_bpFaced             10203
l_ace                 10203
l_df                  10203
l_svpt                10203
l_1stIn               10203
l_1stWon              10203
l_2ndWon              10203
l_SvGms               10202
l_bpSaved             10203
l_bpFaced             10203
winner_rank            1187
winner_rank_points     2175
loser_rank             2532
loser_rank_points      3515
dtype: int64

In [20]:
df_selected_columns = df_pandas_local.drop(columns=['winner_seed', 'winner_entry', 'winner_hand','winner_ht','loser_seed','loser_entry','loser_hand','loser_ht','winner_rank_points','loser_rank_points','minutes'])
df_selected_columns
df_selected_columns.isnull().sum()

tourney_id           0
tourney_name         0
surface              0
draw_size            0
tourney_level        0
tourney_date         0
match_num            0
winner_id            0
winner_name          0
winner_ioc           0
winner_age           5
loser_id             0
loser_name           0
loser_ioc            0
loser_age           21
score                0
best_of              0
round                0
w_ace            10203
w_df             10203
w_svpt           10203
w_1stIn          10203
w_1stWon         10203
w_2ndWon         10203
w_SvGms          10202
w_bpSaved        10203
w_bpFaced        10203
l_ace            10203
l_df             10203
l_svpt           10203
l_1stIn          10203
l_1stWon         10203
l_2ndWon         10203
l_SvGms          10202
l_bpSaved        10203
l_bpFaced        10203
winner_rank       1187
loser_rank        2532
dtype: int64

In [21]:
df_selected_columns_without_Davis_N = df_selected_columns[df_selected_columns['tourney_level'] != 'D']

In [22]:
df_selected_columns_without_Davis_N.isnull().sum()

tourney_id          0
tourney_name        0
surface             0
draw_size           0
tourney_level       0
tourney_date        0
match_num           0
winner_id           0
winner_name         0
winner_ioc          0
winner_age          0
loser_id            0
loser_name          0
loser_ioc           0
loser_age          17
score               0
best_of             0
round               0
w_ace            1798
w_df             1798
w_svpt           1798
w_1stIn          1798
w_1stWon         1798
w_2ndWon         1798
w_SvGms          1797
w_bpSaved        1798
w_bpFaced        1798
l_ace            1798
l_df             1798
l_svpt           1798
l_1stIn          1798
l_1stWon         1798
l_2ndWon         1798
l_SvGms          1797
l_bpSaved        1798
l_bpFaced        1798
winner_rank       234
loser_rank        496
dtype: int64

In [23]:
df_selected_columns_without_Davis = df_selected_columns[~df_selected_columns['tourney_name'].str.contains('Davis')]
df_selected_columns_without_Davis

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_name,winner_ioc,...,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,loser_rank
0,1991-339,Adelaide,Hard,32,A,19901231,1,101723,Magnus Larsson,SWE,...,3.0,95.0,62.0,44.0,23.0,16.0,6.0,8.0,56.0,2.0
1,1991-339,Adelaide,Hard,32,A,19901231,2,100946,Slobodan Zivojinovic,YUG,...,2.0,84.0,41.0,35.0,27.0,15.0,1.0,2.0,304.0,75.0
2,1991-339,Adelaide,Hard,32,A,19901231,3,101234,Patrik Kuhnen,GER,...,2.0,60.0,37.0,22.0,6.0,8.0,4.0,8.0,82.0,69.0
3,1991-339,Adelaide,Hard,32,A,19901231,4,101889,Todd Woodbridge,AUS,...,3.0,74.0,45.0,30.0,11.0,10.0,5.0,8.0,50.0,84.0
4,1991-339,Adelaide,Hard,32,A,19901231,5,101274,Udo Riglewski,GER,...,2.0,77.0,41.0,28.0,15.0,11.0,4.0,8.0,88.0,28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103903,2023-0741,Eastbourne,Grass,32,A,20230626,276,126846,Aleksandar Vukic,AUS,...,3.0,116.0,72.0,57.0,23.0,18.0,0.0,1.0,91.0,51.0
103904,2023-0741,Eastbourne,Grass,32,A,20230626,275,106296,Gregoire Barrere,FRA,...,4.0,127.0,88.0,61.0,24.0,17.0,8.0,9.0,57.0,45.0
103905,2023-0741,Eastbourne,Grass,32,A,20230626,273,200670,J J Wolf,USA,...,1.0,68.0,52.0,31.0,8.0,9.0,5.0,8.0,46.0,32.0
103906,2023-0741,Eastbourne,Grass,32,A,20230626,272,209414,Luca Van Assche,FRA,...,11.0,119.0,65.0,42.0,23.0,16.0,5.0,11.0,79.0,367.0
103907,2023-0741,Eastbourne,Grass,32,A,20230626,271,202104,Sebastian Baez,ARG,...,1.0,49.0,36.0,26.0,8.0,9.0,4.0,6.0,44.0,68.0

In [24]:
df_selected_columns_without_Davis.isnull().sum()

tourney_id          0
tourney_name        0
surface             0
draw_size           0
tourney_level       0
tourney_date        0
match_num           0
winner_id           0
winner_name         0
winner_ioc          0
winner_age          0
loser_id            0
loser_name          0
loser_ioc           0
loser_age          17
score               0
best_of             0
round               0
w_ace            1798
w_df             1798
w_svpt           1798
w_1stIn          1798
w_1stWon         1798
w_2ndWon         1798
w_SvGms          1797
w_bpSaved        1798
w_bpFaced        1798
l_ace            1798
l_df             1798
l_svpt           1798
l_1stIn          1798
l_1stWon         1798
l_2ndWon         1798
l_SvGms          1797
l_bpSaved        1798
l_bpFaced        1798
winner_rank       234
loser_rank        496
dtype: int64

In [25]:
#df_pandas.isnull().sum()

In [26]:
# Cleaning Data

In [27]:
# List of columns to check for null values
columns_to_check = ['w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon', 
                    'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
                    'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced']

# Remove rows with null values in these columns
df_selected_columns_without_Davis_cleaned_N = df_selected_columns_without_Davis_N.dropna(subset=columns_to_check)

In [28]:
df_selected_columns_without_Davis_cleaned_N.isnull().sum()

tourney_id         0
tourney_name       0
surface            0
draw_size          0
tourney_level      0
tourney_date       0
match_num          0
winner_id          0
winner_name        0
winner_ioc         0
winner_age         0
loser_id           0
loser_name         0
loser_ioc          0
loser_age         17
score              0
best_of            0
round              0
w_ace              0
w_df               0
w_svpt             0
w_1stIn            0
w_1stWon           0
w_2ndWon           0
w_SvGms            0
w_bpSaved          0
w_bpFaced          0
l_ace              0
l_df               0
l_svpt             0
l_1stIn            0
l_1stWon           0
l_2ndWon           0
l_SvGms            0
l_bpSaved          0
l_bpFaced          0
winner_rank      230
loser_rank       488
dtype: int64

In [29]:
df_selected_columns_without_Davis_cleaned_N_2 = df_selected_columns_without_Davis_cleaned_N.dropna(subset=['winner_rank'])

In [30]:
df_selected_columns_without_Davis_cleaned_N_2.isnull().sum()

tourney_id         0
tourney_name       0
surface            0
draw_size          0
tourney_level      0
tourney_date       0
match_num          0
winner_id          0
winner_name        0
winner_ioc         0
winner_age         0
loser_id           0
loser_name         0
loser_ioc          0
loser_age         16
score              0
best_of            0
round              0
w_ace              0
w_df               0
w_svpt             0
w_1stIn            0
w_1stWon           0
w_2ndWon           0
w_SvGms            0
w_bpSaved          0
w_bpFaced          0
l_ace              0
l_df               0
l_svpt             0
l_1stIn            0
l_1stWon           0
l_2ndWon           0
l_SvGms            0
l_bpSaved          0
l_bpFaced          0
winner_rank        0
loser_rank       486
dtype: int64

In [31]:
df_selected_columns_without_Davis_cleaned_N_3 = df_selected_columns_without_Davis_cleaned_N_2.dropna(subset=['loser_rank'])

In [32]:
df_selected_columns_without_Davis_cleaned_N_3.isnull().sum()

tourney_id        0
tourney_name      0
surface           0
draw_size         0
tourney_level     0
tourney_date      0
match_num         0
winner_id         0
winner_name       0
winner_ioc        0
winner_age        0
loser_id          0
loser_name        0
loser_ioc         0
loser_age        10
score             0
best_of           0
round             0
w_ace             0
w_df              0
w_svpt            0
w_1stIn           0
w_1stWon          0
w_2ndWon          0
w_SvGms           0
w_bpSaved         0
w_bpFaced         0
l_ace             0
l_df              0
l_svpt            0
l_1stIn           0
l_1stWon          0
l_2ndWon          0
l_SvGms           0
l_bpSaved         0
l_bpFaced         0
winner_rank       0
loser_rank        0
dtype: int64

In [33]:
df_selected_columns_without_Davis_cleaned_N_4 = df_selected_columns_without_Davis_cleaned_N_3.dropna(subset=['loser_age'])

In [34]:
df_selected_columns_without_Davis_cleaned_N_4.isnull().sum()

tourney_id       0
tourney_name     0
surface          0
draw_size        0
tourney_level    0
tourney_date     0
match_num        0
winner_id        0
winner_name      0
winner_ioc       0
winner_age       0
loser_id         0
loser_name       0
loser_ioc        0
loser_age        0
score            0
best_of          0
round            0
w_ace            0
w_df             0
w_svpt           0
w_1stIn          0
w_1stWon         0
w_2ndWon         0
w_SvGms          0
w_bpSaved        0
w_bpFaced        0
l_ace            0
l_df             0
l_svpt           0
l_1stIn          0
l_1stWon         0
l_2ndWon         0
l_SvGms          0
l_bpSaved        0
l_bpFaced        0
winner_rank      0
loser_rank       0
dtype: int64

In [35]:
df_selected_columns_without_Davis_cleaned_N_4.describe()

,draw_size,tourney_date,match_num,winner_id,winner_age,loser_id,loser_age,best_of,w_ace,w_df,...,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,loser_rank
count,92019.000000,9.201900e+04,92019.000000,92019.000000,92019.000000,92019.000000,92019.000000,92019.000000,92019.000000,92019.000000,...,92019.000000,92019.000000,92019.000000,92019.000000,92019.000000,92019.000000,92019.000000,92019.000000,92019.000000,92019.000000
mean,58.366207,2.005853e+07,78.500538,106250.139884,25.889203,106136.324846,26.046419,3.352558,6.506417,2.728100,...,3.477369,80.846869,47.999837,31.895239,14.971495,12.191547,4.805182,8.726111,61.997805,95.421815
std,37.020225,9.408212e+04,116.248181,14571.614603,3.774490,14236.042113,3.860760,0.762119,5.332151,2.360542,...,2.618069,29.345785,19.316391,14.398222,7.198469,4.116405,3.269410,4.125080,74.761063,118.022376
min,8.000000,1.990123e+07,1.000000,100284.000000,15.800000,100282.000000,15.400000,3.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-6.000000,0.000000,1.000000,1.000000
25%,32.000000,1.997103e+07,14.000000,102146.000000,23.100000,102146.000000,23.200000,3.000000,3.000000,1.000000,...,2.000000,59.000000,34.000000,22.000000,10.000000,9.000000,2.000000,6.000000,18.000000,36.000000
50%,32.000000,2.005093e+07,27.000000,103581.000000,25.600000,103487.000000,25.800000,3.000000,5.000000,2.000000,...,3.000000,76.000000,45.000000,29.000000,14.000000,11.000000,4.000000,8.000000,44.000000,67.000000
75%,64.000000,2.014032e+07,87.000000,104755.000000,28.400000,104792.000000,28.600000,3.000000,9.000000,4.000000,...,5.000000,97.000000,58.000000,40.000000,19.000000,15.000000,7.000000,11.000000,82.000000,109.000000
max,128.000000,2.023063e+07,1701.000000,211346.000000,42.300000,211346.000000,44.000000,5.000000,113.000000,26.000000,...,26.000000,489.000000,328.000000,284.000000,101.000000,91.000000,28.000000,35.000000,1890.000000,2159.000000

In [36]:
df_selected_columns_without_Davis_cleaned_N_4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92019 entries, 0 to 103907
Data columns (total 38 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tourney_id     92019 non-null  object
 1   tourney_name   92019 non-null  object
 2   surface        92019 non-null  object
 3   draw_size      92019 non-null  int64
 4   tourney_level  92019 non-null  object
 5   tourney_date   92019 non-null  int64
 6   match_num      92019 non-null  int64
 7   winner_id      92019 non-null  int64
 8   winner_name    92019 non-null  object
 9   winner_ioc     92019 non-null  object
 10  winner_age     92019 non-null  float64
 11  loser_id       92019 non-null  int64
 12  loser_name     92019 non-null  object
 13  loser_ioc      92019 non-null  object
 14  loser_age      92019 non-null  float64
 15  score          92019 non-null  object
 16  best_of        92019 non-null  int64
 17  round          92019 non-null  object
 18  w_ace          92019 non-null  float64
 19  w_df           92019 non-null  float64
 20  w_svpt         92019 non-null  float64
 21  w_1stIn        92019 non-null  float64
 22  w_1stWon       92019 non-null  float64
 23  w_2ndWon       92019 non-null  float64
 24  w_SvGms        92019 non-null  float64
 25  w_bpSaved      92019 non-null  float64
 26  w_bpFaced      92019 non-null  float64
 27  l_ace          92019 non-null  float64
 28  l_df           92019 non-null  float64
 29  l_svpt         92019 non-null  float64
 30  l_1stIn        92019 non-null  float64
 31  l_1stWon       92019 non-null  float64
 32  l_2ndWon       92019 non-null  float64
 33  l_SvGms        92019 non-null  float64
 34  l_bpSaved      92019 non-null  float64
 35  l_bpFaced      92019 non-null  float64
 36  winner_rank    92019 non-null  float64
 37  loser_rank     92019 non-null  float64
dtypes: float64(22), int64(6), object(10)
memory usage: 27.4+ MB

In [37]:
df_selected_columns_without_Davis_cleaned_N_4

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_name,winner_ioc,...,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,loser_rank
0,1991-339,Adelaide,Hard,32,A,19901231,1,101723,Magnus Larsson,SWE,...,3.0,95.0,62.0,44.0,23.0,16.0,6.0,8.0,56.0,2.0
1,1991-339,Adelaide,Hard,32,A,19901231,2,100946,Slobodan Zivojinovic,YUG,...,2.0,84.0,41.0,35.0,27.0,15.0,1.0,2.0,304.0,75.0
2,1991-339,Adelaide,Hard,32,A,19901231,3,101234,Patrik Kuhnen,GER,...,2.0,60.0,37.0,22.0,6.0,8.0,4.0,8.0,82.0,69.0
3,1991-339,Adelaide,Hard,32,A,19901231,4,101889,Todd Woodbridge,AUS,...,3.0,74.0,45.0,30.0,11.0,10.0,5.0,8.0,50.0,84.0
4,1991-339,Adelaide,Hard,32,A,19901231,5,101274,Udo Riglewski,GER,...,2.0,77.0,41.0,28.0,15.0,11.0,4.0,8.0,88.0,28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103903,2023-0741,Eastbourne,Grass,32,A,20230626,276,126846,Aleksandar Vukic,AUS,...,3.0,116.0,72.0,57.0,23.0,18.0,0.0,1.0,91.0,51.0
103904,2023-0741,Eastbourne,Grass,32,A,20230626,275,106296,Gregoire Barrere,FRA,...,4.0,127.0,88.0,61.0,24.0,17.0,8.0,9.0,57.0,45.0
103905,2023-0741,Eastbourne,Grass,32,A,20230626,273,200670,J J Wolf,USA,...,1.0,68.0,52.0,31.0,8.0,9.0,5.0,8.0,46.0,32.0
103906,2023-0741,Eastbourne,Grass,32,A,20230626,272,209414,Luca Van Assche,FRA,...,11.0,119.0,65.0,42.0,23.0,16.0,5.0,11.0,79.0,367.0
103907,2023-0741,Eastbourne,Grass,32,A,20230626,271,202104,Sebastian Baez,ARG,...,1.0,49.0,36.0,26.0,8.0,9.0,4.0,6.0,44.0,68.0

In [38]:
# Get list of columns with null values
cols_with_nulls = df_selected_columns_without_Davis.columns[df_selected_columns_without_Davis.isnull().any()].tolist()

# Drop rows with null values in the selected columns
df_selected_columns_without_Davis_cleaned = df_selected_columns_without_Davis.dropna(subset=cols_with_nulls)

df_selected_columns_without_Davis_cleaned

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_name,winner_ioc,...,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,loser_rank
0,1991-339,Adelaide,Hard,32,A,19901231,1,101723,Magnus Larsson,SWE,...,3.0,95.0,62.0,44.0,23.0,16.0,6.0,8.0,56.0,2.0
1,1991-339,Adelaide,Hard,32,A,19901231,2,100946,Slobodan Zivojinovic,YUG,...,2.0,84.0,41.0,35.0,27.0,15.0,1.0,2.0,304.0,75.0
2,1991-339,Adelaide,Hard,32,A,19901231,3,101234,Patrik Kuhnen,GER,...,2.0,60.0,37.0,22.0,6.0,8.0,4.0,8.0,82.0,69.0
3,1991-339,Adelaide,Hard,32,A,19901231,4,101889,Todd Woodbridge,AUS,...,3.0,74.0,45.0,30.0,11.0,10.0,5.0,8.0,50.0,84.0
4,1991-339,Adelaide,Hard,32,A,19901231,5,101274,Udo Riglewski,GER,...,2.0,77.0,41.0,28.0,15.0,11.0,4.0,8.0,88.0,28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103903,2023-0741,Eastbourne,Grass,32,A,20230626,276,126846,Aleksandar Vukic,AUS,...,3.0,116.0,72.0,57.0,23.0,18.0,0.0,1.0,91.0,51.0
103904,2023-0741,Eastbourne,Grass,32,A,20230626,275,106296,Gregoire Barrere,FRA,...,4.0,127.0,88.0,61.0,24.0,17.0,8.0,9.0,57.0,45.0
103905,2023-0741,Eastbourne,Grass,32,A,20230626,273,200670,J J Wolf,USA,...,1.0,68.0,52.0,31.0,8.0,9.0,5.0,8.0,46.0,32.0
103906,2023-0741,Eastbourne,Grass,32,A,20230626,272,209414,Luca Van Assche,FRA,...,11.0,119.0,65.0,42.0,23.0,16.0,5.0,11.0,79.0,367.0
103907,2023-0741,Eastbourne,Grass,32,A,20230626,271,202104,Sebastian Baez,ARG,...,1.0,49.0,36.0,26.0,8.0,9.0,4.0,6.0,44.0,68.0

In [39]:
df_selected_columns_without_Davis_cleaned.isnull().sum()

tourney_id       0
tourney_name     0
surface          0
draw_size        0
tourney_level    0
tourney_date     0
match_num        0
winner_id        0
winner_name      0
winner_ioc       0
winner_age       0
loser_id         0
loser_name       0
loser_ioc        0
loser_age        0
score            0
best_of          0
round            0
w_ace            0
w_df             0
w_svpt           0
w_1stIn          0
w_1stWon         0
w_2ndWon         0
w_SvGms          0
w_bpSaved        0
w_bpFaced        0
l_ace            0
l_df             0
l_svpt           0
l_1stIn          0
l_1stWon         0
l_2ndWon         0
l_SvGms          0
l_bpSaved        0
l_bpFaced        0
winner_rank      0
loser_rank       0
dtype: int64

In [40]:
duplicates = df_selected_columns_without_Davis_cleaned.duplicated()
print(duplicates.any())

False

In [41]:
df_selected_columns_without_Davis_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92019 entries, 0 to 103907
Data columns (total 38 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tourney_id     92019 non-null  object
 1   tourney_name   92019 non-null  object
 2   surface        92019 non-null  object
 3   draw_size      92019 non-null  int64
 4   tourney_level  92019 non-null  object
 5   tourney_date   92019 non-null  int64
 6   match_num      92019 non-null  int64
 7   winner_id      92019 non-null  int64
 8   winner_name    92019 non-null  object
 9   winner_ioc     92019 non-null  object
 10  winner_age     92019 non-null  float64
 11  loser_id       92019 non-null  int64
 12  loser_name     92019 non-null  object
 13  loser_ioc      92019 non-null  object
 14  loser_age      92019 non-null  float64
 15  score          92019 non-null  object
 16  best_of        92019 non-null  int64
 17  round          92019 non-null  object
 18  w_ace          92019 non-null  float64
 19  w_df           92019 non-null  float64
 20  w_svpt         92019 non-null  float64
 21  w_1stIn        92019 non-null  float64
 22  w_1stWon       92019 non-null  float64
 23  w_2ndWon       92019 non-null  float64
 24  w_SvGms        92019 non-null  float64
 25  w_bpSaved      92019 non-null  float64
 26  w_bpFaced      92019 non-null  float64
 27  l_ace          92019 non-null  float64
 28  l_df           92019 non-null  float64
 29  l_svpt         92019 non-null  float64
 30  l_1stIn        92019 non-null  float64
 31  l_1stWon       92019 non-null  float64
 32  l_2ndWon       92019 non-null  float64
 33  l_SvGms        92019 non-null  float64
 34  l_bpSaved      92019 non-null  float64
 35  l_bpFaced      92019 non-null  float64
 36  winner_rank    92019 non-null  float64
 37  loser_rank     92019 non-null  float64
dtypes: float64(22), int64(6), object(10)
memory usage: 27.4+ MB

In [42]:
#df_selected_columns_without_Davis_cleaned['rank_difference'] = df_selected_columns_without_Davis_cleaned['winner_rank'] - df_selected_columns_without_Davis_cleaned['loser_rank']
df_selected_columns_without_Davis_cleaned = df_selected_columns_without_Davis_cleaned.copy()

# Now create the new column
df_selected_columns_without_Davis_cleaned.loc[:, 'rank_difference'] = df_selected_columns_without_Davis_cleaned['winner_rank'] - df_selected_columns_without_Davis_cleaned['loser_rank']

In [43]:
df_selected_columns_without_Davis_cleaned

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_name,winner_ioc,...,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,loser_rank,rank_difference
0,1991-339,Adelaide,Hard,32,A,19901231,1,101723,Magnus Larsson,SWE,...,95.0,62.0,44.0,23.0,16.0,6.0,8.0,56.0,2.0,54.0
1,1991-339,Adelaide,Hard,32,A,19901231,2,100946,Slobodan Zivojinovic,YUG,...,84.0,41.0,35.0,27.0,15.0,1.0,2.0,304.0,75.0,229.0
2,1991-339,Adelaide,Hard,32,A,19901231,3,101234,Patrik Kuhnen,GER,...,60.0,37.0,22.0,6.0,8.0,4.0,8.0,82.0,69.0,13.0
3,1991-339,Adelaide,Hard,32,A,19901231,4,101889,Todd Woodbridge,AUS,...,74.0,45.0,30.0,11.0,10.0,5.0,8.0,50.0,84.0,-34.0
4,1991-339,Adelaide,Hard,32,A,19901231,5,101274,Udo Riglewski,GER,...,77.0,41.0,28.0,15.0,11.0,4.0,8.0,88.0,28.0,60.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103903,2023-0741,Eastbourne,Grass,32,A,20230626,276,126846,Aleksandar Vukic,AUS,...,116.0,72.0,57.0,23.0,18.0,0.0,1.0,91.0,51.0,40.0
103904,2023-0741,Eastbourne,Grass,32,A,20230626,275,106296,Gregoire Barrere,FRA,...,127.0,88.0,61.0,24.0,17.0,8.0,9.0,57.0,45.0,12.0
103905,2023-0741,Eastbourne,Grass,32,A,20230626,273,200670,J J Wolf,USA,...,68.0,52.0,31.0,8.0,9.0,5.0,8.0,46.0,32.0,14.0
103906,2023-0741,Eastbourne,Grass,32,A,20230626,272,209414,Luca Van Assche,FRA,...,119.0,65.0,42.0,23.0,16.0,5.0,11.0,79.0,367.0,-288.0
103907,2023-0741,Eastbourne,Grass,32,A,20230626,271,202104,Sebastian Baez,ARG,...,49.0,36.0,26.0,8.0,9.0,4.0,6.0,44.0,68.0,-24.0

In [44]:
df_selected_columns_without_Davis_cleaned = df_selected_columns_without_Davis_cleaned.copy()

# For the winner
df_selected_columns_without_Davis_cleaned.loc[:, 'winner_break_point_save_rate'] = df_selected_columns_without_Davis_cleaned['w_bpSaved'] / df_selected_columns_without_Davis_cleaned['w_bpFaced']
df_selected_columns_without_Davis_cleaned.loc[:, 'winner_break_point_conversion_rate'] = (df_selected_columns_without_Davis_cleaned['l_bpFaced'] - df_selected_columns_without_Davis_cleaned['l_bpSaved']) / df_selected_columns_without_Davis_cleaned['l_bpFaced']

# For the loser
df_selected_columns_without_Davis_cleaned.loc[:, 'loser_break_point_save_rate'] = df_selected_columns_without_Davis_cleaned['l_bpSaved'] / df_selected_columns_without_Davis_cleaned['l_bpFaced']
df_selected_columns_without_Davis_cleaned.loc[:, 'loser_break_point_conversion_rate'] = (df_selected_columns_without_Davis_cleaned['w_bpFaced'] - df_selected_columns_without_Davis_cleaned['w_bpSaved']) / df_selected_columns_without_Davis_cleaned['w_bpFaced']

In [45]:
df_selected_columns_without_Davis_cleaned

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_name,winner_ioc,...,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,loser_rank,rank_difference,winner_break_point_save_rate,winner_break_point_conversion_rate,loser_break_point_save_rate,loser_break_point_conversion_rate
0,1991-339,Adelaide,Hard,32,A,19901231,1,101723,Magnus Larsson,SWE,...,16.0,6.0,8.0,56.0,2.0,54.0,0.500000,0.250000,0.750000,0.500000
1,1991-339,Adelaide,Hard,32,A,19901231,2,100946,Slobodan Zivojinovic,YUG,...,15.0,1.0,2.0,304.0,75.0,229.0,0.900000,0.500000,0.500000,0.100000
2,1991-339,Adelaide,Hard,32,A,19901231,3,101234,Patrik Kuhnen,GER,...,8.0,4.0,8.0,82.0,69.0,13.0,1.000000,0.500000,0.500000,0.000000
3,1991-339,Adelaide,Hard,32,A,19901231,4,101889,Todd Woodbridge,AUS,...,10.0,5.0,8.0,50.0,84.0,-34.0,1.000000,0.375000,0.625000,0.000000
4,1991-339,Adelaide,Hard,32,A,19901231,5,101274,Udo Riglewski,GER,...,11.0,4.0,8.0,88.0,28.0,60.0,0.875000,0.500000,0.500000,0.125000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103903,2023-0741,Eastbourne,Grass,32,A,20230626,276,126846,Aleksandar Vukic,AUS,...,18.0,0.0,1.0,91.0,51.0,40.0,0.750000,1.000000,0.000000,0.250000
103904,2023-0741,Eastbourne,Grass,32,A,20230626,275,106296,Gregoire Barrere,FRA,...,17.0,8.0,9.0,57.0,45.0,12.0,0.846154,0.111111,0.888889,0.153846
103905,2023-0741,Eastbourne,Grass,32,A,20230626,273,200670,J J Wolf,USA,...,9.0,5.0,8.0,46.0,32.0,14.0,1.000000,0.375000,0.625000,0.000000
103906,2023-0741,Eastbourne,Grass,32,A,20230626,272,209414,Luca Van Assche,FRA,...,16.0,5.0,11.0,79.0,367.0,-288.0,0.428571,0.545455,0.454545,0.571429
103907,2023-0741,Eastbourne,Grass,32,A,20230626,271,202104,Sebastian Baez,ARG,...,9.0,4.0,6.0,44.0,68.0,-24.0,NaN,0.333333,0.666667,NaN

In [46]:
df_selected_columns_without_Davis_cleaned = df_selected_columns_without_Davis_cleaned[df_selected_columns_without_Davis_cleaned['l_bpSaved'] >= 0]

In [47]:
df_selected_columns_without_Davis_cleaned

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_name,winner_ioc,...,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,loser_rank,rank_difference,winner_break_point_save_rate,winner_break_point_conversion_rate,loser_break_point_save_rate,loser_break_point_conversion_rate
0,1991-339,Adelaide,Hard,32,A,19901231,1,101723,Magnus Larsson,SWE,...,16.0,6.0,8.0,56.0,2.0,54.0,0.500000,0.250000,0.750000,0.500000
1,1991-339,Adelaide,Hard,32,A,19901231,2,100946,Slobodan Zivojinovic,YUG,...,15.0,1.0,2.0,304.0,75.0,229.0,0.900000,0.500000,0.500000,0.100000
2,1991-339,Adelaide,Hard,32,A,19901231,3,101234,Patrik Kuhnen,GER,...,8.0,4.0,8.0,82.0,69.0,13.0,1.000000,0.500000,0.500000,0.000000
3,1991-339,Adelaide,Hard,32,A,19901231,4,101889,Todd Woodbridge,AUS,...,10.0,5.0,8.0,50.0,84.0,-34.0,1.000000,0.375000,0.625000,0.000000
4,1991-339,Adelaide,Hard,32,A,19901231,5,101274,Udo Riglewski,GER,...,11.0,4.0,8.0,88.0,28.0,60.0,0.875000,0.500000,0.500000,0.125000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103903,2023-0741,Eastbourne,Grass,32,A,20230626,276,126846,Aleksandar Vukic,AUS,...,18.0,0.0,1.0,91.0,51.0,40.0,0.750000,1.000000,0.000000,0.250000
103904,2023-0741,Eastbourne,Grass,32,A,20230626,275,106296,Gregoire Barrere,FRA,...,17.0,8.0,9.0,57.0,45.0,12.0,0.846154,0.111111,0.888889,0.153846
103905,2023-0741,Eastbourne,Grass,32,A,20230626,273,200670,J J Wolf,USA,...,9.0,5.0,8.0,46.0,32.0,14.0,1.000000,0.375000,0.625000,0.000000
103906,2023-0741,Eastbourne,Grass,32,A,20230626,272,209414,Luca Van Assche,FRA,...,16.0,5.0,11.0,79.0,367.0,-288.0,0.428571,0.545455,0.454545,0.571429
103907,2023-0741,Eastbourne,Grass,32,A,20230626,271,202104,Sebastian Baez,ARG,...,9.0,4.0,6.0,44.0,68.0,-24.0,NaN,0.333333,0.666667,NaN

In [48]:
# removed_rows = df_selected_columns_without_Davis_cleaned[df_selected_columns_without_Davis_cleaned['l_bpSaved'] < 0]
# print(removed_rows)

In [49]:
# Check where 'w_bpSaved' is greater than 'w_bpFaced'
invalid_w_bp = df_selected_columns_without_Davis_cleaned[df_selected_columns_without_Davis_cleaned['w_bpSaved'] > df_selected_columns_without_Davis_cleaned['w_bpFaced']]

# Check where 'l_bpSaved' is greater than 'l_bpFaced'
invalid_l_bp = df_selected_columns_without_Davis_cleaned[df_selected_columns_without_Davis_cleaned['l_bpSaved'] > df_selected_columns_without_Davis_cleaned['l_bpFaced']]

# Print these rows
print("Invalid winner break points:")
print(invalid_w_bp)

print("\nInvalid loser break points:")
print(invalid_l_bp)

Invalid winner break points:
Empty DataFrame
Columns: [tourney_id, tourney_name, surface, draw_size, tourney_level, tourney_date, match_num, winner_id, winner_name, winner_ioc, winner_age, loser_id, loser_name, loser_ioc, loser_age, score, best_of, round, w_ace, w_df, w_svpt, w_1stIn, w_1stWon, w_2ndWon, w_SvGms, w_bpSaved, w_bpFaced, l_ace, l_df, l_svpt, l_1stIn, l_1stWon, l_2ndWon, l_SvGms, l_bpSaved, l_bpFaced, winner_rank, loser_rank, rank_difference, winner_break_point_save_rate, winner_break_point_conversion_rate, loser_break_point_save_rate, loser_break_point_conversion_rate]
Index: []

[0 rows x 43 columns]

Invalid loser break points:
Empty DataFrame
Columns: [tourney_id, tourney_name, surface, draw_size, tourney_level, tourney_date, match_num, winner_id, winner_name, winner_ioc, winner_age, loser_id, loser_name, loser_ioc, loser_age, score, best_of, round, w_ace, w_df, w_svpt, w_1stIn, w_1stWon, w_2ndWon, w_SvGms, w_bpSaved, w_bpFaced, l_ace, l_df, l_svpt, l_1stIn, l_1stWon, l_2ndWon, l_SvGms, l_bpSaved, l_bpFaced, winner_rank, loser_rank, rank_difference, winner_break_point_save_rate, winner_break_point_conversion_rate, loser_break_point_save_rate, loser_break_point_conversion_rate]
Index: []

[0 rows x 43 columns]

In [50]:
#df_selected_columns_without_Davis_cleaned

In [51]:
nan_counts = df_selected_columns_without_Davis_cleaned.isna().sum()
print(nan_counts)

tourney_id                               0
tourney_name                             0
surface                                  0
draw_size                                0
tourney_level                            0
tourney_date                             0
match_num                                0
winner_id                                0
winner_name                              0
winner_ioc                               0
winner_age                               0
loser_id                                 0
loser_name                               0
loser_ioc                                0
loser_age                                0
score                                    0
best_of                                  0
round                                    0
w_ace                                    0
w_df                                     0
w_svpt                                   0
w_1stIn                                  0
w_1stWon                                 0
w_2ndWon                                 0
w_SvGms                                  0
w_bpSaved                                0
w_bpFaced                                0
l_ace                                    0
l_df                                     0
l_svpt                                   0
l_1stIn                                  0
l_1stWon                                 0
l_2ndWon                                 0
l_SvGms                                  0
l_bpSaved                                0
l_bpFaced                                0
winner_rank                              0
loser_rank                               0
rank_difference                          0
winner_break_point_save_rate          8191
winner_break_point_conversion_rate     226
loser_break_point_save_rate            226
loser_break_point_conversion_rate     8191
dtype: int64

In [52]:
df_selected_columns_without_Davis_cleaned.isnull().sum()

tourney_id                               0
tourney_name                             0
surface                                  0
draw_size                                0
tourney_level                            0
tourney_date                             0
match_num                                0
winner_id                                0
winner_name                              0
winner_ioc                               0
winner_age                               0
loser_id                                 0
loser_name                               0
loser_ioc                                0
loser_age                                0
score                                    0
best_of                                  0
round                                    0
w_ace                                    0
w_df                                     0
w_svpt                                   0
w_1stIn                                  0
w_1stWon                                 0
w_2ndWon                                 0
w_SvGms                                  0
w_bpSaved                                0
w_bpFaced                                0
l_ace                                    0
l_df                                     0
l_svpt                                   0
l_1stIn                                  0
l_1stWon                                 0
l_2ndWon                                 0
l_SvGms                                  0
l_bpSaved                                0
l_bpFaced                                0
winner_rank                              0
loser_rank                               0
rank_difference                          0
winner_break_point_save_rate          8191
winner_break_point_conversion_rate     226
loser_break_point_save_rate            226
loser_break_point_conversion_rate     8191
dtype: int64

In [53]:
# Create a list to hold the score sets
score_sets = []

# Iterate through the 'score' column and split each score string by space
for score in df_selected_columns_without_Davis_cleaned['score']:
    sets = score.split(' ')
    score_sets.append(sets)
    
df_selected_columns_without_Davis_cleaned = df_selected_columns_without_Davis_cleaned.copy()
df_selected_columns_without_Davis_cleaned['score_sets'] = score_sets

# # # Now, you can explore the 'score_sets' list
# # # Example: print the first element (first match's set scores)
# # print(score_sets[0])

In [54]:
df_selected_columns_without_Davis_cleaned

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_name,winner_ioc,...,l_bpSaved,l_bpFaced,winner_rank,loser_rank,rank_difference,winner_break_point_save_rate,winner_break_point_conversion_rate,loser_break_point_save_rate,loser_break_point_conversion_rate,score_sets
0,1991-339,Adelaide,Hard,32,A,19901231,1,101723,Magnus Larsson,SWE,...,6.0,8.0,56.0,2.0,54.0,0.500000,0.250000,0.750000,0.500000,"[6-4, 3-6, 7-6(2)]"
1,1991-339,Adelaide,Hard,32,A,19901231,2,100946,Slobodan Zivojinovic,YUG,...,1.0,2.0,304.0,75.0,229.0,0.900000,0.500000,0.500000,0.100000,"[6-3, 3-6, 7-6(6)]"
2,1991-339,Adelaide,Hard,32,A,19901231,3,101234,Patrik Kuhnen,GER,...,4.0,8.0,82.0,69.0,13.0,1.000000,0.500000,0.500000,0.000000,"[6-0, 6-4]"
3,1991-339,Adelaide,Hard,32,A,19901231,4,101889,Todd Woodbridge,AUS,...,5.0,8.0,50.0,84.0,-34.0,1.000000,0.375000,0.625000,0.000000,"[7-6(2), 6-1]"
4,1991-339,Adelaide,Hard,32,A,19901231,5,101274,Udo Riglewski,GER,...,4.0,8.0,88.0,28.0,60.0,0.875000,0.500000,0.500000,0.125000,"[7-5, 6-3]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103903,2023-0741,Eastbourne,Grass,32,A,20230626,276,126846,Aleksandar Vukic,AUS,...,0.0,1.0,91.0,51.0,40.0,0.750000,1.000000,0.000000,0.250000,"[6-7(5), 7-6(3), 7-6(5)]"
103904,2023-0741,Eastbourne,Grass,32,A,20230626,275,106296,Gregoire Barrere,FRA,...,8.0,9.0,57.0,45.0,12.0,0.846154,0.111111,0.888889,0.153846,"[3-6, 7-6(6), 7-6(4)]"
103905,2023-0741,Eastbourne,Grass,32,A,20230626,273,200670,J J Wolf,USA,...,5.0,8.0,46.0,32.0,14.0,1.000000,0.375000,0.625000,0.000000,"[6-2, 6-4]"
103906,2023-0741,Eastbourne,Grass,32,A,20230626,272,209414,Luca Van Assche,FRA,...,5.0,11.0,79.0,367.0,-288.0,0.428571,0.545455,0.454545,0.571429,"[2-6, 7-6(5), 7-6(4)]"
103907,2023-0741,Eastbourne,Grass,32,A,20230626,271,202104,Sebastian Baez,ARG,...,4.0,6.0,44.0,68.0,-24.0,NaN,0.333333,0.666667,NaN,"[6-3, 6-4]"

In [55]:
left_numbers = []
right_numbers = []

# Iterate through the 'score_sets' column
for sets in df_selected_columns_without_Davis_cleaned['score_sets']:
    first_set = sets[0]  # Get the first element
    if "-" in first_set: # Check if there's a '-' character to split
        left, right = first_set.split('-')  # Split by '-'
        # Remove characters within parentheses and convert to float
        left_numbers.append(float(left.split('(')[0]))
        right_numbers.append(float(right.split('(')[0]))

# Determine the range for the left and right numbers
left_range = (min(left_numbers), max(left_numbers))
right_range = (min(right_numbers), max(right_numbers))

print("Range for left numbers:", left_range)
print("Range for right numbers:", right_range)

Range for left numbers: (0.0, 7.0)
Range for right numbers: (0.0, 7.0)

In [56]:
left_numbers_2nd_set = []
right_numbers_2nd_set = []

# Iterate through the 'score_sets' column
for sets in df_selected_columns_without_Davis_cleaned['score_sets']:
    # Check if there's a second element (some rows may have only one set score)
    if len(sets) > 1:
        second_set = sets[1]  # Get the second element
        if "-" in second_set: # Check if there's a '-' character to split
            left, right = second_set.split('-')  # Split by '-'
            # Remove characters within parentheses and convert to float
            left_numbers_2nd_set.append(float(left.split('(')[0]))
            right_numbers_2nd_set.append(float(right.split('(')[0]))

# Determine the range for the left and right numbers of the second set
left_range_2nd_set = (min(left_numbers_2nd_set), max(left_numbers_2nd_set))
right_range_2nd_set = (min(right_numbers_2nd_set), max(right_numbers_2nd_set))

print("Range for left numbers in the second set:", left_range_2nd_set)
print("Range for right numbers in the second set:", right_range_2nd_set)

Range for left numbers in the second set: (0.0, 7.0)
Range for right numbers in the second set: (0.0, 7.0)

In [57]:
left_numbers_3rd_set = []
right_numbers_3rd_set = []

# Iterate through the 'score_sets' column
for sets in df_selected_columns_without_Davis_cleaned['score_sets']:
    # Check if there's a third element (some rows may have fewer set scores)
    if len(sets) > 2:
        third_set = sets[2]  # Get the third element
        if "-" in third_set: # Check if there's a '-' character to split
            left, right = third_set.split('-')  # Split by '-'
            # Remove characters within parentheses and convert to float
            left_numbers_3rd_set.append(float(left.split('(')[0]))
            right_numbers_3rd_set.append(float(right.split('(')[0]))

# Determine the range for the left and right numbers of the third set
left_range_3rd_set = (min(left_numbers_3rd_set), max(left_numbers_3rd_set))
right_range_3rd_set = (min(right_numbers_3rd_set), max(right_numbers_3rd_set))

print("Range for left numbers in the third set:", left_range_3rd_set)
print("Range for right numbers in the third set:", right_range_3rd_set)

Range for left numbers in the third set: (0.0, 25.0)
Range for right numbers in the third set: (0.0, 23.0)

In [58]:
# # Iterate through the rows to find specific conditions
# for index, row in df_selected_columns_without_Davis_cleaned.iterrows():
#     score_list = row['score_list']
#     if score_list and len(score_list) >= 3:
#         # Split the third set score
#         left_num, right_num = map(int, score_list[2].split('-'))
        
#         # Check for the condition of left number 25 and right number 23
#         if left_num == 25 and right_num == 23:
#             print("Row with left number 25 and right number 23 in the third set:")
#             print(row)
#             print()

#         # Check for any score greater than 7 in the third set
#         if left_num > 7 or right_num > 7:
#             print(f"Row {index} with scores greater than 7 in the third set:")
#             print(row)

In [59]:
left_numbers_4th_set = []
right_numbers_4th_set = []

# Iterate through the 'score_sets' column
for sets in df_selected_columns_without_Davis_cleaned['score_sets']:
    # Check if there's a fourth element (some rows may have fewer set scores)
    if len(sets) > 3:
        fourth_set = sets[3]  # Get the fourth element
        if "-" in fourth_set: # Check if there's a '-' character to split
            left, right = fourth_set.split('-')  # Split by '-'
            # Remove characters within parentheses and convert to float
            left_numbers_4th_set.append(float(left.split('(')[0]))
            right_numbers_4th_set.append(float(right.split('(')[0]))

# Determine the range for the left and right numbers of the fourth set
left_range_4th_set = (min(left_numbers_4th_set), max(left_numbers_4th_set))
right_range_4th_set = (min(right_numbers_4th_set), max(right_numbers_4th_set))

print("Range for left numbers in the fourth set:", left_range_4th_set)
print("Range for right numbers in the fourth set:", right_range_4th_set)

Range for left numbers in the fourth set: (0.0, 7.0)
Range for right numbers in the fourth set: (0.0, 7.0)

In [60]:
left_numbers_5th_set = []
right_numbers_5th_set = []

# Iterate through the 'score_sets' column
for sets in df_selected_columns_without_Davis_cleaned['score_sets']:
    # Check if there's a fifth element (some rows may have fewer set scores)
    if len(sets) > 4:
        fifth_set = sets[4]  # Get the fifth element
        if "-" in fifth_set: # Check if there's a '-' character to split
            left, right = fifth_set.split('-')  # Split by '-'
            # Remove characters within parentheses and convert to float
            left_numbers_5th_set.append(float(left.split('(')[0]))
            right_numbers_5th_set.append(float(right.split('(')[0]))

# Determine the range for the left and right numbers of the fifth set
left_range_5th_set = (min(left_numbers_5th_set), max(left_numbers_5th_set))
right_range_5th_set = (min(right_numbers_5th_set), max(right_numbers_5th_set))

print("Range for left numbers in the fifth set:", left_range_5th_set)
print("Range for right numbers in the fifth set:", right_range_5th_set)

Range for left numbers in the fifth set: (0.0, 70.0)
Range for right numbers in the fifth set: (0.0, 68.0)

In [61]:
df_selected_columns_without_Davis_cleaned

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_name,winner_ioc,...,l_bpSaved,l_bpFaced,winner_rank,loser_rank,rank_difference,winner_break_point_save_rate,winner_break_point_conversion_rate,loser_break_point_save_rate,loser_break_point_conversion_rate,score_sets
0,1991-339,Adelaide,Hard,32,A,19901231,1,101723,Magnus Larsson,SWE,...,6.0,8.0,56.0,2.0,54.0,0.500000,0.250000,0.750000,0.500000,"[6-4, 3-6, 7-6(2)]"
1,1991-339,Adelaide,Hard,32,A,19901231,2,100946,Slobodan Zivojinovic,YUG,...,1.0,2.0,304.0,75.0,229.0,0.900000,0.500000,0.500000,0.100000,"[6-3, 3-6, 7-6(6)]"
2,1991-339,Adelaide,Hard,32,A,19901231,3,101234,Patrik Kuhnen,GER,...,4.0,8.0,82.0,69.0,13.0,1.000000,0.500000,0.500000,0.000000,"[6-0, 6-4]"
3,1991-339,Adelaide,Hard,32,A,19901231,4,101889,Todd Woodbridge,AUS,...,5.0,8.0,50.0,84.0,-34.0,1.000000,0.375000,0.625000,0.000000,"[7-6(2), 6-1]"
4,1991-339,Adelaide,Hard,32,A,19901231,5,101274,Udo Riglewski,GER,...,4.0,8.0,88.0,28.0,60.0,0.875000,0.500000,0.500000,0.125000,"[7-5, 6-3]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103903,2023-0741,Eastbourne,Grass,32,A,20230626,276,126846,Aleksandar Vukic,AUS,...,0.0,1.0,91.0,51.0,40.0,0.750000,1.000000,0.000000,0.250000,"[6-7(5), 7-6(3), 7-6(5)]"
103904,2023-0741,Eastbourne,Grass,32,A,20230626,275,106296,Gregoire Barrere,FRA,...,8.0,9.0,57.0,45.0,12.0,0.846154,0.111111,0.888889,0.153846,"[3-6, 7-6(6), 7-6(4)]"
103905,2023-0741,Eastbourne,Grass,32,A,20230626,273,200670,J J Wolf,USA,...,5.0,8.0,46.0,32.0,14.0,1.000000,0.375000,0.625000,0.000000,"[6-2, 6-4]"
103906,2023-0741,Eastbourne,Grass,32,A,20230626,272,209414,Luca Van Assche,FRA,...,5.0,11.0,79.0,367.0,-288.0,0.428571,0.545455,0.454545,0.571429,"[2-6, 7-6(5), 7-6(4)]"
103907,2023-0741,Eastbourne,Grass,32,A,20230626,271,202104,Sebastian Baez,ARG,...,4.0,6.0,44.0,68.0,-24.0,NaN,0.333333,0.666667,NaN,"[6-3, 6-4]"

In [62]:
# Initialize a list to store the count of tiebreaks for each row
tiebreak_counts = []

# Iterate through the score_sets column
for score_sets in df_selected_columns_without_Davis_cleaned['score_sets']:
    # Initialize a count for the current row
    tiebreak_count = 0
    # Iterate through each set in the current row's score_sets
    for score_set in score_sets:
        # Check if the set contains the "-" character before attempting to split
        if '-' in score_set:
            # Check if the set contains a tiebreak by splitting by '-' and comparing the difference
            left, right = score_set.split('-')
            if "(" in left:
                left = left.split("(")[0]
            if "(" in right:
                right = right.split("(")[0]
            if abs(int(left) - int(right)) == 1:
                tiebreak_count += 1
    # Append the count for the current row to the tiebreak_counts list
    tiebreak_counts.append(tiebreak_count)

# Create a new column in the DataFrame with the tiebreak counts
df_selected_columns_without_Davis_cleaned['total_tiebreaks'] = tiebreak_counts

# Export the updated DataFrame to an Excel file
df_selected_columns_without_Davis_cleaned.to_excel('updated_data.xlsx', index=False)

In [63]:
# Initialize lists to store the count of tiebreaks won by the winner and loser for each row
winner_tiebreak_counts = []
loser_tiebreak_counts = []

# Iterate through the score_sets column
for score_sets in df_selected_columns_without_Davis_cleaned['score_sets']:
    # Initialize counts for the current row
    winner_tiebreak_count = 0
    loser_tiebreak_count = 0
    # Iterate through each set in the current row's score_sets
    for score_set in score_sets:
        # Check if the set contains the "-" character before attempting to split
        if '-' in score_set:
            # Check if the set contains a tiebreak by splitting by '-' and comparing the difference
            left, right = score_set.split('-')
            if "(" in left:
                left = left.split("(")[0]
            if "(" in right:
                right = right.split("(")[0]
            # Check if the difference is 1, indicating a tiebreak
            if abs(int(left) - int(right)) == 1:
                # Increment the winner's count if the left side is greater, and the loser's count otherwise
                if int(left) > int(right):
                    winner_tiebreak_count += 1
                else:
                    loser_tiebreak_count += 1
    # Append the counts for the current row to the lists
    winner_tiebreak_counts.append(winner_tiebreak_count)
    loser_tiebreak_counts.append(loser_tiebreak_count)

# Create new columns in the DataFrame with the tiebreak counts for the winner and loser
df_selected_columns_without_Davis_cleaned['w_tiebreaks'] = winner_tiebreak_counts
df_selected_columns_without_Davis_cleaned['l_tiebreaks'] = loser_tiebreak_counts

# Export the updated DataFrame to an Excel file
df_selected_columns_without_Davis_cleaned.to_excel('updated_data_with_tiebreaks.xlsx', index=False)

In [64]:
# # Iterate through the rows to find specific conditions
# for index, row in df_selected_columns_without_Davis_cleaned.iterrows():
#     score_sets = row['score_sets']
#     if score_sets and len(score_sets) >= 3:
#         third_set_score = score_sets[2]
        
#         # Skip rows with special terms
#         if any(term in third_set_score for term in ["RET", "DEF", "W/O", "W/O"]):
#             continue

#         # Check if the hyphen is present in the third set score
#         if '-' not in third_set_score:
#             print(f"Row {index}: {third_set_score}")
#             continue

#         # Extract the third set score and split it by '-'
#         left_num_raw, right_num_raw = third_set_score.split('-')

#         # Remove the characters inside the parentheses (tiebreak scores)
#         left_num = int(left_num_raw.split('(')[0])
#         right_num = int(right_num_raw.split('(')[0])

#         # Check for any score greater than 7 in the third set
#         if left_num > 7 or right_num > 7:
#             print(f"Row {index}: {score_sets}")

In [65]:
# Iterate through the rows to find specific conditions
for index, row in df_selected_columns_without_Davis_cleaned.iterrows():
    score_sets = row['score_sets']
    if score_sets and len(score_sets) >= 3:
        third_set_score = score_sets[2]
        
        # Skip rows with special terms or empty strings/blanks
        if any(term in third_set_score for term in ["RET", "DEF", "W/O", "Def"]) or third_set_score.strip() == "":
            continue

        # Check if the hyphen is present in the third set score
        if '-' not in third_set_score:
            print(f"Row {index}: {third_set_score}")
            continue

        # Extract the third set score and split it by '-'
        left_num_raw, right_num_raw = third_set_score.split('-')

        # Remove the characters inside the parentheses (tiebreak scores)
        left_num = int(left_num_raw.split('(')[0])
        right_num = int(right_num_raw.split('(')[0])

        # Check for any score greater than 7 in the third set
        if left_num > 7 or right_num > 7:
            print(f"Row {index}: {score_sets}")

Row 1817: ['6-3', '5-7', '9-7']
Row 1818: ['6-4', '5-7', '10-8']
Row 5566: ['5-7', '6-2', '15-13']
Row 5600: ['6-4', '5-7', '11-9']
Row 5603: ['6-4', '3-6', '9-7']
Row 5606: ['1-6', '7-6(6)', '10-8']
Row 9489: ['1-6', '7-5', '8-6']
Row 9503: ['4-6', '6-3', '9-7']
Row 9512: ['6-4', '1-6', '8-6']
Row 9519: ['5-7', '6-4', '8-6']
Row 17238: ['7-6(4)', '4-6', '10-8']
Row 17263: ['5-7', '7-6(6)', '9-7']
Row 17271: ['7-5', '6-7(2)', '10-8']
Row 17281: ['6-7(4)', '6-2', '13-11']
Row 62318: ['6-4', '4-6', '8-6']
Row 62342: ['6-7(9)', '6-1', '8-6']
Row 62344: ['4-6', '7-6(5)', '11-9']
Row 62376: ['4-6', '7-5', '11-9']
Row 74006: ['6-7(5)', '6-2', '9-7']
Row 74024: ['6-3', '3-6', '25-23']
Row 74040: ['3-6', '7-6(5)', '19-17']

In [66]:
# Iterate through the score_sets column
for index, score_sets in enumerate(df_selected_columns_without_Davis_cleaned['score_sets']):
    for score_set in score_sets:
        # If the set doesn't contain a '-', it's a special entry like "RET" or "DEF"
        if '-' not in score_set:
            print(f"Row {index}: Found special entry in score_sets: {score_set}")

Row 10: Found special entry in score_sets: RET
Row 89: Found special entry in score_sets: RET
Row 150: Found special entry in score_sets: RET
Row 295: Found special entry in score_sets: RET
Row 366: Found special entry in score_sets: RET
Row 455: Found special entry in score_sets: RET
Row 533: Found special entry in score_sets: RET
Row 657: Found special entry in score_sets: RET
Row 683: Found special entry in score_sets: RET
Row 689: Found special entry in score_sets: RET
Row 751: Found special entry in score_sets: RET
Row 785: Found special entry in score_sets: RET
Row 793: Found special entry in score_sets:
Row 793: Found special entry in score_sets: W/O
Row 854: Found special entry in score_sets: RET
Row 1007: Found special entry in score_sets: RET
Row 1049: Found special entry in score_sets: RET
Row 1100: Found special entry in score_sets: RET
Row 1103: Found special entry in score_sets: RET
Row 1140: Found special entry in score_sets: RET
Row 1154: Found special entry in score_sets: RET
Row 1251: Found special entry in score_sets: RET
Row 1364: Found special entry in score_sets: RET
Row 1391: Found special entry in score_sets: RET
Row 1392: Found special entry in score_sets: RET
Row 1424: Found special entry in score_sets: RET
Row 1428: Found special entry in score_sets: RET
Row 1469: Found special entry in score_sets: RET
Row 1470: Found special entry in score_sets: RET
Row 1538: Found special entry in score_sets: RET
Row 1701: Found special entry in score_sets: RET
Row 1727: Found special entry in score_sets: RET
Row 2220: Found special entry in score_sets: RET
Row 2243: Found special entry in score_sets: RET
Row 2253: Found special entry in score_sets: RET
Row 2289: Found special entry in score_sets: RET
Row 2335: Found special entry in score_sets: DEF
Row 2409: Found special entry in score_sets: RET
Row 2422: Found special entry in score_sets: RET
Row 2426: Found special entry in score_sets: RET
Row 2428: Found special entry in score_sets: RET
Row 2434: Found special entry in score_sets: RET
Row 2668: Found special entry in score_sets: RET
Row 2956: Found special entry in score_sets: RET
Row 2962: Found special entry in score_sets: RET
Row 3011: Found special entry in score_sets: RET
Row 3026: Found special entry in score_sets: RET
Row 3059: Found special entry in score_sets: RET
Row 3133: Found special entry in score_sets: RET
Row 3152: Found special entry in score_sets: RET
Row 3180: Found special entry in score_sets: DEF
Row 3302: Found special entry in score_sets: RET
Row 3415: Found special entry in score_sets: RET
Row 3447: Found special entry in score_sets: RET
Row 3476: Found special entry in score_sets: RET
Row 3712: Found special entry in score_sets: RET
Row 3721: Found special entry in score_sets: RET
Row 3731: Found special entry in score_sets: RET
Row 3849: Found special entry in score_sets: RET
Row 3909: Found special entry in score_sets: RET
Row 3910: Found special entry in score_sets: RET
Row 3911: Found special entry in score_sets: RET
Row 3972: Found special entry in score_sets: RET
Row 3991: Found special entry in score_sets: RET
Row 4036: Found special entry in score_sets: RET
Row 4073: Found special entry in score_sets: RET
Row 4148: Found special entry in score_sets: RET
Row 4178: Found special entry in score_sets: RET
Row 4270: Found special entry in score_sets: RET
Row 4280: Found special entry in score_sets: RET
Row 4543: Found special entry in score_sets: RET
Row 4549: Found special entry in score_sets: RET
Row 4603: Found special entry in score_sets: RET
Row 4717: Found special entry in score_sets: RET
Row 4857: Found special entry in score_sets: RET
Row 4882: Found special entry in score_sets: RET
Row 4897: Found special entry in score_sets: RET
Row 4909: Found special entry in score_sets: RET
Row 4955: Found special entry in score_sets: RET
Row 4966: Found special entry in score_sets: RET
Row 5031: Found special entry in score_sets: RET
Row 5077: Found special entry in score_sets: RET
Row 5221: Found special entry in score_sets: RET
Row 5373: Found special entry in score_sets: RET
Row 5378: Found special entry in score_sets: RET
Row 5419: Found special entry in score_sets: RET
Row 5420: Found special entry in score_sets: RET
Row 5443: Found special entry in score_sets: RET
Row 5467: Found special entry in score_sets: RET
Row 5511: Found special entry in score_sets: RET
Row 5513: Found special entry in score_sets: RET
Row 5546: Found special entry in score_sets: RET
Row 5549: Found special entry in score_sets: RET
Row 5574: Found special entry in score_sets: RET
Row 5655: Found special entry in score_sets: RET
Row 5689: Found special entry in score_sets: RET
Row 5702: Found special entry in score_sets: RET
Row 5706: Found special entry in score_sets: RET
Row 5731: Found special entry in score_sets: RET
Row 5752: Found special entry in score_sets: RET
Row 5756: Found special entry in score_sets: RET
Row 5780: Found special entry in score_sets: RET
Row 5783: Found special entry in score_sets: RET
Row 5790: Found special entry in score_sets: RET
Row 5871: Found special entry in score_sets: RET
Row 5889: Found special entry in score_sets: RET
Row 5904: Found special entry in score_sets: RET
Row 5998: Found special entry in score_sets: RET
Row 6002: Found special entry in score_sets: RET
Row 6008: Found special entry in score_sets: RET
Row 6047: Found special entry in score_sets: RET
Row 6054: Found special entry in score_sets: RET
Row 6111: Found special entry in score_sets: RET
Row 6125: Found special entry in score_sets: RET
Row 6295: Found special entry in score_sets: RET
Row 6331: Found special entry in score_sets: RET
Row 6361: Found special entry in score_sets: RET
Row 6372: Found special entry in score_sets: RET
Row 6584: Found special entry in score_sets: RET
Row 6666: Found special entry in score_sets: RET
Row 6689: Found special entry in score_sets: RET
Row 6745: Found special entry in score_sets: RET
Row 6840: Found special entry in score_sets: RET
Row 6873: Found special entry in score_sets: RET
Row 6877: Found special entry in score_sets: RET
Row 6929: Found special entry in score_sets: RET
Row 7015: Found special entry in score_sets: RET
Row 7039: Found special entry in score_sets: RET
Row 7043: Found special entry in score_sets: RET
Row 7133: Found special entry in score_sets: RET
Row 7137: Found special entry in score_sets: RET
Row 7164: Found special entry in score_sets: RET
Row 7290: Found special entry in score_sets: RET
Row 7303: Found special entry in score_sets: RET
Row 7401: Found special entry in score_sets: RET
Row 7476: Found special entry in score_sets: RET
Row 7486: Found special entry in score_sets: RET
Row 7489: Found special entry in score_sets: RET
Row 7555: Found special entry in score_sets: RET
Row 7775: Found special entry in score_sets: RET
Row 7853: Found special entry in score_sets: RET
Row 7872: Found special entry in score_sets: RET
Row 7909: Found special entry in score_sets: RET
Row 7919: Found special entry in score_sets: RET
Row 7922: Found special entry in score_sets: RET
Row 7926: Found special entry in score_sets: RET
Row 7999: Found special entry in score_sets: RET
Row 8428: Found special entry in score_sets: RET
Row 8437: Found special entry in score_sets: RET
Row 8485: Found special entry in score_sets: RET
Row 8578: Found special entry in score_sets: RET
Row 8708: Found special entry in score_sets: RET
Row 8893: Found special entry in score_sets: RET
Row 8911: Found special entry in score_sets: RET
Row 8914: Found special entry in score_sets: RET
Row 8975: Found special entry in score_sets: DEF
Row 9092: Found special entry in score_sets: RET
Row 9129: Found special entry in score_sets: RET
Row 9194: Found special entry in score_sets: RET
Row 9197: Found special entry in score_sets: RET
Row 9250: Found special entry in score_sets: RET
Row 9372: Found special entry in score_sets: RET
Row 9415: Found special entry in score_sets: RET
Row 9416: Found special entry in score_sets: RET
Row 9444: Found special entry in score_sets: RET
Row 9486: Found special entry in score_sets: RET
Row 9516: Found special entry in score_sets: RET
Row 9542: Found special entry in score_sets: RET
Row 9549: Found special entry in score_sets: RET
Row 9675: Found special entry in score_sets: RET
Row 9696: Found special entry in score_sets: RET
Row 9725: Found special entry in score_sets: RET
Row 9914: Found special entry in score_sets: RET
Row 9916: Found special entry in score_sets: RET
Row 9921: Found special entry in score_sets: RET
Row 10011: Found special entry in score_sets: RET
Row 10090: Found special entry in score_sets: RET
Row 10098: Found special entry in score_sets: RET
Row 10101: Found special entry in score_sets: RET
Row 10103: Found special entry in score_sets: RET
Row 10113: Found special entry in score_sets: RET
Row 10149: Found special entry in score_sets: RET
Row 10154: Found special entry in score_sets: RET
Row 10221: Found special entry in score_sets: RET
Row 10274: Found special entry in score_sets: RET
Row 10286: Found special entry in score_sets: RET
Row 10367: Found special entry in score_sets: RET
Row 10435: Found special entry in score_sets: RET
Row 10607: Found special entry in score_sets: RET
Row 10658: Found special entry in score_sets: RET
Row 10796: Found special entry in score_sets: RET
Row 10804: Found special entry in score_sets: RET
Row 10809: Found special entry in score_sets: RET
Row 10824: Found special entry in score_sets: RET
Row 10827: Found special entry in score_sets: RET
Row 11066: Found special entry in score_sets: RET
Row 11068: Found special entry in score_sets: RET
Row 11078: Found special entry in score_sets: RET
Row 11368: Found special entry in score_sets: RET
Row 11483: Found special entry in score_sets: RET
Row 11515: Found special entry in score_sets: RET
Row 11531: Found special entry in score_sets: RET
Row 11576: Found special entry in score_sets: RET
Row 11587: Found special entry in score_sets: RET
Row 11613: Found special entry in score_sets: RET
Row 11831: Found special entry in score_sets: RET
Row 11837: Found special entry in score_sets: RET
Row 11873: Found special entry in score_sets: RET
Row 11879: Found special entry in score_sets: RET
Row 12010: Found special entry in score_sets: RET
Row 12049: Found special entry in score_sets: RET
Row 12129: Found special entry in score_sets: RET
Row 12160: Found special entry in score_sets: RET
Row 12307: Found special entry in score_sets: RET
Row 12331: Found special entry in score_sets: RET
Row 12403: Found special entry in score_sets: RET
Row 12475: Found special entry in score_sets: RET
Row 12542: Found special entry in score_sets: RET
Row 12546: Found special entry in score_sets: RET
Row 12548: Found special entry in score_sets: RET
Row 12557: Found special entry in score_sets: RET
Row 12637: Found special entry in score_sets: RET
Row 12643: Found special entry in score_sets: RET
Row 12653: Found special entry in score_sets: RET
Row 12667: Found special entry in score_sets: RET
Row 12739: Found special entry in score_sets: RET
Row 12750: Found special entry in score_sets: RET
Row 12950: Found special entry in score_sets: RET
Row 13022: Found special entry in score_sets: RET
Row 13225: Found special entry in score_sets: RET
Row 13265: Found special entry in score_sets: RET
Row 13310: Found special entry in score_sets: RET
Row 13454: Found special entry in score_sets: RET
Row 13477: Found special entry in score_sets: RET
Row 13581: Found special entry in score_sets: RET
Row 13590: Found special entry in score_sets: RET
Row 13653: Found special entry in score_sets: RET
Row 13669: Found special entry in score_sets: RET
Row 13671: Found special entry in score_sets: RET
Row 13853: Found special entry in score_sets: RET
Row 13862: Found special entry in score_sets: RET
Row 13863: Found special entry in score_sets: RET
Row 13956: Found special entry in score_sets: RET
Row 14040: Found special entry in score_sets: RET
Row 14251: Found special entry in score_sets: RET
Row 14433: Found special entry in score_sets: RET
Row 14436: Found special entry in score_sets: RET
Row 14476: Found special entry in score_sets: RET
Row 14507: Found special entry in score_sets: RET
Row 14516: Found special entry in score_sets: RET
Row 14518: Found special entry in score_sets: RET
Row 14535: Found special entry in score_sets: RET
Row 14634: Found special entry in score_sets: RET
Row 14637: Found special entry in score_sets: RET
Row 14709: Found special entry in score_sets: RET
Row 14870: Found special entry in score_sets: RET
Row 14959: Found special entry in score_sets: RET
Row 15056: Found special entry in score_sets: RET
Row 15167: Found special entry in score_sets: RET
Row 15172: Found special entry in score_sets: RET
Row 15191: Found special entry in score_sets: RET
Row 15242: Found special entry in score_sets: DEF
Row 15377: Found special entry in score_sets: RET
Row 15393: Found special entry in score_sets: RET
Row 15520: Found special entry in score_sets: RET
Row 15575: Found special entry in score_sets: RET
Row 15639: Found special entry in score_sets: RET
Row 15712: Found special entry in score_sets: RET
Row 15734: Found special entry in score_sets: RET
Row 15749: Found special entry in score_sets: RET
Row 15773: Found special entry in score_sets: RET
Row 15777: Found special entry in score_sets: RET
Row 15825: Found special entry in score_sets: RET
Row 15860: Found special entry in score_sets: RET
Row 15878: Found special entry in score_sets: RET
Row 15917: Found special entry in score_sets: RET
Row 15935: Found special entry in score_sets: RET
Row 15964: Found special entry in score_sets: RET
Row 15987: Found special entry in score_sets: RET
Row 16062: Found special entry in score_sets: RET
Row 16101: Found special entry in score_sets: RET
Row 16108: Found special entry in score_sets: RET
Row 16195: Found special entry in score_sets: RET
Row 16212: Found special entry in score_sets: RET
Row 16251: Found special entry in score_sets: RET
Row 16457: Found special entry in score_sets: RET
Row 16611: Found special entry in score_sets: RET
Row 16704: Found special entry in score_sets: RET
Row 16795: Found special entry in score_sets: RET
Row 16801: Found special entry in score_sets: RET
Row 16849: Found special entry in score_sets: RET
Row 16875: Found special entry in score_sets: RET
Row 16888: Found special entry in score_sets: RET
Row 16912: Found special entry in score_sets: RET
Row 17028: Found special entry in score_sets: RET
Row 17086: Found special entry in score_sets: RET
Row 17116: Found special entry in score_sets: RET
Row 17150: Found special entry in score_sets: RET
Row 17394: Found special entry in score_sets: RET
Row 17409: Found special entry in score_sets: RET
Row 17504: Found special entry in score_sets: RET
Row 17531: Found special entry in score_sets: RET
Row 17697: Found special entry in score_sets: RET
Row 17907: Found special entry in score_sets: RET
Row 17951: Found special entry in score_sets: RET
Row 17982: Found special entry in score_sets: RET
Row 18067: Found special entry in score_sets: RET
Row 18112: Found special entry in score_sets: RET
Row 18200: Found special entry in score_sets: RET
Row 18231: Found special entry in score_sets: RET
Row 18292: Found special entry in score_sets: RET
Row 18304: Found special entry in score_sets: RET
Row 18394: Found special entry in score_sets: RET
Row 18834: Found special entry in score_sets: RET
Row 18887: Found special entry in score_sets: RET
Row 18949: Found special entry in score_sets: RET
Row 18994: Found special entry in score_sets: RET
Row 19003: Found special entry in score_sets: RET
Row 19039: Found special entry in score_sets: DEF
Row 19044: Found special entry in score_sets: RET
Row 19135: Found special entry in score_sets: RET
Row 19149: Found special entry in score_sets: RET
Row 19174: Found special entry in score_sets: RET
Row 19234: Found special entry in score_sets: RET
Row 19238: Found special entry in score_sets: RET
Row 19285: Found special entry in score_sets: RET
Row 19305: Found special entry in score_sets:
Row 19309: Found special entry in score_sets: RET
Row 19417: Found special entry in score_sets: RET
Row 19421: Found special entry in score_sets: RET
Row 19494: Found special entry in score_sets: RET
Row 19509: Found special entry in score_sets: RET
Row 19527: Found special entry in score_sets: RET
Row 19597: Found special entry in score_sets: RET
Row 19703: Found special entry in score_sets: RET
Row 19715: Found special entry in score_sets: RET
Row 19772: Found special entry in score_sets: RET
Row 19811: Found special entry in score_sets: RET
Row 19925: Found special entry in score_sets: RET
Row 20074: Found special entry in score_sets: RET
Row 20092: Found special entry in score_sets: RET
Row 20122: Found special entry in score_sets: RET
Row 20157: Found special entry in score_sets: RET
Row 20224: Found special entry in score_sets: RET
Row 20272: Found special entry in score_sets: RET
Row 20290: Found special entry in score_sets: RET
Row 20327: Found special entry in score_sets: RET
Row 20434: Found special entry in score_sets: RET
Row 20566: Found special entry in score_sets: RET
Row 20581: Found special entry in score_sets: RET
Row 20598: Found special entry in score_sets: DEF
Row 20639: Found special entry in score_sets: RET
Row 20754: Found special entry in score_sets: RET
Row 20764: Found special entry in score_sets: RET
Row 20804: Found special entry in score_sets: RET
Row 20805: Found special entry in score_sets: RET
Row 20826: Found special entry in score_sets: RET
Row 20838: Found special entry in score_sets: RET
Row 21002: Found special entry in score_sets: RET
Row 21004: Found special entry in score_sets: RET
Row 21053: Found special entry in score_sets: RET
Row 21070: Found special entry in score_sets: DEF
Row 21080: Found special entry in score_sets: RET
Row 21141: Found special entry in score_sets: RET
Row 21144: Found special entry in score_sets: RET
Row 21227: Found special entry in score_sets: RET
Row 21269: Found special entry in score_sets: RET
Row 21315: Found special entry in score_sets: RET
Row 21348: Found special entry in score_sets: RET
Row 21349: Found special entry in score_sets: RET
Row 21423: Found special entry in score_sets: RET
Row 21434: Found special entry in score_sets: RET
Row 21463: Found special entry in score_sets: RET
Row 21495: Found special entry in score_sets: RET
Row 21604: Found special entry in score_sets: RET
Row 21653: Found special entry in score_sets: RET
Row 21752: Found special entry in score_sets: RET
Row 21773: Found special entry in score_sets: RET
Row 21801: Found special entry in score_sets: RET
Row 21842: Found special entry in score_sets: RET
Row 21844: Found special entry in score_sets: RET
Row 21849: Found special entry in score_sets: RET
Row 21871: Found special entry in score_sets: RET
Row 21888: Found special entry in score_sets: RET
Row 21896: Found special entry in score_sets: RET
Row 21941: Found special entry in score_sets: RET
Row 22030: Found special entry in score_sets: RET
Row 22031: Found special entry in score_sets: RET
Row 22049: Found special entry in score_sets: RET
Row 22101: Found special entry in score_sets: RET
Row 22178: Found special entry in score_sets: RET
Row 22203: Found special entry in score_sets: RET
Row 22219: Found special entry in score_sets: RET
Row 22285: Found special entry in score_sets: RET
Row 22441: Found special entry in score_sets: RET
Row 22456: Found special entry in score_sets: RET
Row 22473: Found special entry in score_sets: RET
Row 22497: Found special entry in score_sets: RET
Row 22729: Found special entry in score_sets: RET
Row 22736: Found special entry in score_sets: RET
Row 22788: Found special entry in score_sets: RET
Row 22819: Found special entry in score_sets: RET
Row 22849: Found special entry in score_sets: RET
Row 22851: Found special entry in score_sets: RET

In [67]:
# Compute the winner's tiebreak percentage only where total_tiebreaks > 0
df_selected_columns_without_Davis_cleaned['w_tiebreak_percentage'] = np.where(
    df_selected_columns_without_Davis_cleaned['total_tiebreaks'] > 0,
    df_selected_columns_without_Davis_cleaned['w_tiebreaks'] / df_selected_columns_without_Davis_cleaned['total_tiebreaks'],
    np.nan
)

# Compute the loser's tiebreak percentage only where total_tiebreaks > 0
df_selected_columns_without_Davis_cleaned['l_tiebreak_percentage'] = np.where(
    df_selected_columns_without_Davis_cleaned['total_tiebreaks'] > 0,
    df_selected_columns_without_Davis_cleaned['l_tiebreaks'] / df_selected_columns_without_Davis_cleaned['total_tiebreaks'],
    np.nan
)

df_selected_columns_without_Davis_cleaned.to_excel('updated_data_with_tiebreaks_percentage_revised.xlsx', index=False)

In [68]:

def is_comeback(sets):
    binary_sequence = []
    for set_score in sets:
        if '-' not in set_score: 
            continue
        left, right = set_score.split('-')
        left = left.split('(')[0]  
        right = right.split('(')[0]
        binary_sequence.append(int(int(left) > int(right)))
    
    comeback_patterns = [
        [0, 1, 1],
        [0, 0, 1, 1, 1],
        [0, 1, 1, 1],
        [0, 1, 0, 1, 1],
        [1, 0, 0, 1, 1],
        [0, 1, 1, 0, 1], # Adding the new pattern
    ]
    
    return int(any(binary_sequence[:len(pattern)] == pattern for pattern in comeback_patterns))

start_time = time.time()

df_selected_columns_without_Davis_cleaned['comeback'] = df_selected_columns_without_Davis_cleaned['score_sets'].apply(is_comeback)




df_selected_columns_without_Davis_cleaned.reset_index(drop=True, inplace=True)

# Export the DataFrame to Excel
df_selected_columns_without_Davis_cleaned.to_excel("comebacks_revised4.xlsx", index=False)

end_time = time.time()
time_taken = end_time - start_time
print(f"Time taken to process: {time_taken:.2f} seconds")

Time taken to process: 65.07 seconds

In [69]:
df_selected_columns_without_Davis_cleaned

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_name,winner_ioc,...,winner_break_point_conversion_rate,loser_break_point_save_rate,loser_break_point_conversion_rate,score_sets,total_tiebreaks,w_tiebreaks,l_tiebreaks,w_tiebreak_percentage,l_tiebreak_percentage,comeback
0,1991-339,Adelaide,Hard,32,A,19901231,1,101723,Magnus Larsson,SWE,...,0.250000,0.750000,0.500000,"[6-4, 3-6, 7-6(2)]",1,1,0,1.000000,0.000000,0
1,1991-339,Adelaide,Hard,32,A,19901231,2,100946,Slobodan Zivojinovic,YUG,...,0.500000,0.500000,0.100000,"[6-3, 3-6, 7-6(6)]",1,1,0,1.000000,0.000000,0
2,1991-339,Adelaide,Hard,32,A,19901231,3,101234,Patrik Kuhnen,GER,...,0.500000,0.500000,0.000000,"[6-0, 6-4]",0,0,0,NaN,NaN,0
3,1991-339,Adelaide,Hard,32,A,19901231,4,101889,Todd Woodbridge,AUS,...,0.375000,0.625000,0.000000,"[7-6(2), 6-1]",1,1,0,1.000000,0.000000,0
4,1991-339,Adelaide,Hard,32,A,19901231,5,101274,Udo Riglewski,GER,...,0.500000,0.500000,0.125000,"[7-5, 6-3]",0,0,0,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92012,2023-0741,Eastbourne,Grass,32,A,20230626,276,126846,Aleksandar Vukic,AUS,...,1.000000,0.000000,0.250000,"[6-7(5), 7-6(3), 7-6(5)]",3,2,1,0.666667,0.333333,1
92013,2023-0741,Eastbourne,Grass,32,A,20230626,275,106296,Gregoire Barrere,FRA,...,0.111111,0.888889,0.153846,"[3-6, 7-6(6), 7-6(4)]",2,2,0,1.000000,0.000000,1
92014,2023-0741,Eastbourne,Grass,32,A,20230626,273,200670,J J Wolf,USA,...,0.375000,0.625000,0.000000,"[6-2, 6-4]",0,0,0,NaN,NaN,0
92015,2023-0741,Eastbourne,Grass,32,A,20230626,272,209414,Luca Van Assche,FRA,...,0.545455,0.454545,0.571429,"[2-6, 7-6(5), 7-6(4)]",2,2,0,1.000000,0.000000,1
92016,2023-0741,Eastbourne,Grass,32,A,20230626,271,202104,Sebastian Baez,ARG,...,0.333333,0.666667,NaN,"[6-3, 6-4]",0,0,0,NaN,NaN,0

In [70]:
for index, row in df_selected_columns_without_Davis_cleaned.iterrows():
    sets = row['score_sets']
    last_set = sets[-1]
    if '-' not in last_set:
        continue

    left, right = last_set.split('-')
    left = left.split('(')[0]
    right = right.split('(')[0]

    if int(right) >= int(left):
        print(f"Found in row number: {index}")

Found in row number: 255
Found in row number: 2703
Found in row number: 25681
Found in row number: 49990
Found in row number: 50595
Found in row number: 51207

In [71]:
for index, row in df_selected_columns_without_Davis_cleaned.iterrows():
    sets = row['score_sets']
    last_set = sets[-1]
    if '-' not in last_set:
        continue

    left, right = last_set.split('-')
    left = left.split('(')[0]
    right = right.split('(')[0]

    if int(right) >= int(left):
        print(f"Found in row number: {index}")
        print(f"Score sets: {sets}")

Found in row number: 255
Score sets: ['6-0', '2-2']
Found in row number: 2703
Score sets: ['7-6(5)', '0-1']
Found in row number: 25681
Score sets: ['3-6', '6-3', '1-1']
Found in row number: 49990
Score sets: ['6-2', '5-7', '1-1']
Found in row number: 50595
Score sets: ['6-3', '1-1']
Found in row number: 51207
Score sets: ['7-6(4)', '2-2']

In [72]:
df_selected_columns_without_Davis_cleaned

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_name,winner_ioc,...,winner_break_point_conversion_rate,loser_break_point_save_rate,loser_break_point_conversion_rate,score_sets,total_tiebreaks,w_tiebreaks,l_tiebreaks,w_tiebreak_percentage,l_tiebreak_percentage,comeback
0,1991-339,Adelaide,Hard,32,A,19901231,1,101723,Magnus Larsson,SWE,...,0.250000,0.750000,0.500000,"[6-4, 3-6, 7-6(2)]",1,1,0,1.000000,0.000000,0
1,1991-339,Adelaide,Hard,32,A,19901231,2,100946,Slobodan Zivojinovic,YUG,...,0.500000,0.500000,0.100000,"[6-3, 3-6, 7-6(6)]",1,1,0,1.000000,0.000000,0
2,1991-339,Adelaide,Hard,32,A,19901231,3,101234,Patrik Kuhnen,GER,...,0.500000,0.500000,0.000000,"[6-0, 6-4]",0,0,0,NaN,NaN,0
3,1991-339,Adelaide,Hard,32,A,19901231,4,101889,Todd Woodbridge,AUS,...,0.375000,0.625000,0.000000,"[7-6(2), 6-1]",1,1,0,1.000000,0.000000,0
4,1991-339,Adelaide,Hard,32,A,19901231,5,101274,Udo Riglewski,GER,...,0.500000,0.500000,0.125000,"[7-5, 6-3]",0,0,0,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92012,2023-0741,Eastbourne,Grass,32,A,20230626,276,126846,Aleksandar Vukic,AUS,...,1.000000,0.000000,0.250000,"[6-7(5), 7-6(3), 7-6(5)]",3,2,1,0.666667,0.333333,1
92013,2023-0741,Eastbourne,Grass,32,A,20230626,275,106296,Gregoire Barrere,FRA,...,0.111111,0.888889,0.153846,"[3-6, 7-6(6), 7-6(4)]",2,2,0,1.000000,0.000000,1
92014,2023-0741,Eastbourne,Grass,32,A,20230626,273,200670,J J Wolf,USA,...,0.375000,0.625000,0.000000,"[6-2, 6-4]",0,0,0,NaN,NaN,0
92015,2023-0741,Eastbourne,Grass,32,A,20230626,272,209414,Luca Van Assche,FRA,...,0.545455,0.454545,0.571429,"[2-6, 7-6(5), 7-6(4)]",2,2,0,1.000000,0.000000,1
92016,2023-0741,Eastbourne,Grass,32,A,20230626,271,202104,Sebastian Baez,ARG,...,0.333333,0.666667,NaN,"[6-3, 6-4]",0,0,0,NaN,NaN,0

In [73]:
# # Convert the percentage columns to decimal form
# df_selected_columns_without_Davis_cleaned['winner_tiebreak_percentage'] = df_selected_columns_without_Davis_cleaned['winner_tiebreak_percentage'] / 100
# df_selected_columns_without_Davis_cleaned['loser_tiebreak_percentage'] = df_selected_columns_without_Davis_cleaned['loser_tiebreak_percentage'] / 100

# # Define the Excel filename
# excel_filename = "tennis_data_with_tiebreaks_percentage_decimal.xlsx"

# # Export the DataFrame to Excel
# df_selected_columns_without_Davis_cleaned.to_excel(excel_filename, index=False)

# print(f"File exported to {excel_filename}")

In [74]:
# # Initialize new columns with zeros
# df_selected_columns_without_Davis_cleaned['total_tiebreaks'] = 0
# df_selected_columns_without_Davis_cleaned['winner_tiebreak_rate'] = 0
# df_selected_columns_without_Davis_cleaned['loser_tiebreak_rate'] = 0

# # Iterate through the 'score_sets' column
# for index, sets in enumerate(df_selected_columns_without_Davis_cleaned['score_sets']):
#     total_tiebreaks = 0
#     winner_tiebreaks = 0
#     loser_tiebreaks = 0
    
#     for set_score in sets:
#         if "-" in set_score: # Check if there's a '-' character to split
#             left, right = set_score.split('-')  # Split by '-'
#             # Remove characters within parentheses and convert to float
#             left = float(left.split('(')[0])
#             right = float(right.split('(')[0])
            
#             # Check for tiebreak condition
#             if abs(left - right) == 1 and (left == 7 or right == 7):
#                 total_tiebreaks += 1
#                 winner_tiebreaks += (left > right)
#                 loser_tiebreaks += (right > left)

#     # Update the DataFrame with calculated values
#     df_selected_columns_without_Davis_cleaned.at[index, 'total_tiebreaks'] = total_tiebreaks
#     if total_tiebreaks > 0:
#         df_selected_columns_without_Davis_cleaned.at[index, 'winner_tiebreak_rate'] = winner_tiebreaks / total_tiebreaks
#         df_selected_columns_without_Davis_cleaned.at[index, 'loser_tiebreak_rate'] = loser_tiebreaks / total_tiebreaks

In [75]:
#df_selected_columns_without_Davis_cleaned

In [76]:
# # Define the name for the Excel file
# output_filename = "tennis_data_tie_breaks.xlsx"

# # Save the DataFrame to the Excel file
# df_selected_columns_without_Davis_cleaned.to_excel(output_filename, index=False)

In [77]:
# # Filter the rows with 3 or 4 total tiebreaks
# filtered_df = df_selected_columns_without_Davis_cleaned[
#     df_selected_columns_without_Davis_cleaned['total_tiebreaks'].isin([3, 4])
# ]

# # Select the 'score', 'total_tiebreaks', 'winner_tiebreak_rate', and 'loser_tiebreak_rate' columns
# selected_columns = filtered_df[['score', 'total_tiebreaks', 'winner_tiebreak_rate', 'loser_tiebreak_rate']]

# # Display the selected columns
# print(selected_columns)

In [78]:
# import re
# # Define the function to calculate tiebreaks
# def calculate_tiebreaks(row):
#     score_sets = row['score_sets']
#     total_tiebreaks = 0
#     winner_tiebreaks = 0
#     loser_tiebreaks = 0
    
#     for score_set in score_sets:
#         # Split the score by '-' and remove any characters that are not digits
#         left, right = [int(re.sub("[^0-9]", "", s)) for s in score_set.split('-') if '-' in score_set]
#         if abs(left - right) == 1 and (left == 7 or right == 7):
#             total_tiebreaks += 1
#             if left > right:
#                 winner_tiebreaks += 1
#             else:
#                 loser_tiebreaks += 1

#     return pd.Series([total_tiebreaks, winner_tiebreaks / total_tiebreaks if total_tiebreaks > 0 else 0, loser_tiebreaks / total_tiebreaks if total_tiebreaks > 0 else 0])

# # Apply the function and assign the results to new columns
# df_selected_columns_without_Davis_cleaned[['total_tiebreaks', 'winner_tiebreak_rate', 'loser_tiebreak_rate']] = df_selected_columns_without_Davis_cleaned.apply(calculate_tiebreaks, axis=1)

In [79]:
# def calculate_tiebreaks(row):
#     score_sets = row['score_sets']
#     total_tiebreaks = 0
#     winner_tiebreaks = 0
#     loser_tiebreaks = 0

#     for score_set in score_sets:
#         if '-' in score_set:  # Make sure the score contains '-'
#             # Split the score by '-', and remove any characters that are not digits
#             left, right = [int(s.split('(')[0]) for s in score_set.split('-')]
#             if abs(left - right) == 1 and (left == 7 or right == 7):
#                 total_tiebreaks += 1
#                 if left > right:
#                     winner_tiebreaks += 1
#                 else:
#                     loser_tiebreaks += 1

#     return pd.Series([total_tiebreaks, winner_tiebreaks / total_tiebreaks if total_tiebreaks > 0 else 0, loser_tiebreaks / total_tiebreaks if total_tiebreaks > 0 else 0])

# # Apply the function and assign the results to new columns
# df_selected_columns_without_Davis_cleaned[['total_tiebreaks', 'winner_tiebreak_rate', 'loser_tiebreak_rate']] = df_selected_columns_without_Davis_cleaned.apply(calculate_tiebreaks, axis=1)

In [80]:
# def calculate_tiebreaks(score_sets):
#     total_tiebreaks = 0
#     winner_tiebreaks = 0
#     loser_tiebreaks = 0

#     for score_set in score_sets:
#         if '-' in score_set and '(' in score_set:  # Check if the set includes a tiebreak score
#             left, right = score_set.split('-')
#             left = int(left.split('(')[0])
#             right = int(right.split('(')[0])
#             if abs(left - right) == 1 and (left == 7 or right == 7):
#                 total_tiebreaks += 1
#                 if left > right:
#                     winner_tiebreaks += 1
#                 else:
#                     loser_tiebreaks += 1

#     return total_tiebreaks, winner_tiebreaks / total_tiebreaks if total_tiebreaks > 0 else 0, loser_tiebreaks / total_tiebreaks if total_tiebreaks > 0 else 0

# # Apply the function to the 'score_sets' column and create new columns for the results
# df_selected_columns_without_Davis_cleaned['total_tiebreaks'], df_selected_columns_without_Davis_cleaned['winner_tiebreak_rate'], df_selected_columns_without_Davis_cleaned['loser_tiebreak_rate'] = zip(*df_selected_columns_without_Davis_cleaned['score_sets'].apply(calculate_tiebreaks))

In [81]:
#df_selected_columns_without_Davis_cleaned.info()

In [82]:
#df_selected_columns_without_Davis_cleaned

In [83]:
for index, score_sets in enumerate(df_selected_columns_without_Davis_cleaned['score_sets']):
    if not isinstance(score_sets, list):
        print(f"Row {index}: score_sets is not a list, it's a {type(score_sets)}")
        continue
    for score_set in score_sets:
        if not isinstance(score_set, str):
            print(f"Row {index}: Found non-string element in score_sets: {score_set}, type: {type(score_set)}")

In [84]:
df_selected_columns_without_Davis_cleaned.isnull().sum()

tourney_id                                0
tourney_name                              0
surface                                   0
draw_size                                 0
tourney_level                             0
tourney_date                              0
match_num                                 0
winner_id                                 0
winner_name                               0
winner_ioc                                0
winner_age                                0
loser_id                                  0
loser_name                                0
loser_ioc                                 0
loser_age                                 0
score                                     0
best_of                                   0
round                                     0
w_ace                                     0
w_df                                      0
w_svpt                                    0
w_1stIn                                   0
w_1stWon                                  0
w_2ndWon                                  0
w_SvGms                                   0
w_bpSaved                                 0
w_bpFaced                                 0
l_ace                                     0
l_df                                      0
l_svpt                                    0
l_1stIn                                   0
l_1stWon                                  0
l_2ndWon                                  0
l_SvGms                                   0
l_bpSaved                                 0
l_bpFaced                                 0
winner_rank                               0
loser_rank                                0
rank_difference                           0
winner_break_point_save_rate           8191
winner_break_point_conversion_rate      226
loser_break_point_save_rate             226
loser_break_point_conversion_rate      8191
score_sets                                0
total_tiebreaks                           0
w_tiebreaks                               0
l_tiebreaks                               0
w_tiebreak_percentage                 58565
l_tiebreak_percentage                 58565
comeback                                  0
dtype: int64

In [85]:
# Calculate the differences
df_selected_columns_without_Davis_cleaned['break_point_save_rate_difference'] = df_selected_columns_without_Davis_cleaned['winner_break_point_save_rate'] - df_selected_columns_without_Davis_cleaned['loser_break_point_save_rate']
df_selected_columns_without_Davis_cleaned['break_point_conversion_rate_difference'] = df_selected_columns_without_Davis_cleaned['winner_break_point_conversion_rate'] - df_selected_columns_without_Davis_cleaned['loser_break_point_conversion_rate']
df_selected_columns_without_Davis_cleaned['tiebreak_percentage_difference'] = df_selected_columns_without_Davis_cleaned['w_tiebreak_percentage'] - df_selected_columns_without_Davis_cleaned['l_tiebreak_percentage']

df_selected_columns_without_Davis_cleaned

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_name,winner_ioc,...,score_sets,total_tiebreaks,w_tiebreaks,l_tiebreaks,w_tiebreak_percentage,l_tiebreak_percentage,comeback,break_point_save_rate_difference,break_point_conversion_rate_difference,tiebreak_percentage_difference
0,1991-339,Adelaide,Hard,32,A,19901231,1,101723,Magnus Larsson,SWE,...,"[6-4, 3-6, 7-6(2)]",1,1,0,1.000000,0.000000,0,-0.250000,-0.250000,1.000000
1,1991-339,Adelaide,Hard,32,A,19901231,2,100946,Slobodan Zivojinovic,YUG,...,"[6-3, 3-6, 7-6(6)]",1,1,0,1.000000,0.000000,0,0.400000,0.400000,1.000000
2,1991-339,Adelaide,Hard,32,A,19901231,3,101234,Patrik Kuhnen,GER,...,"[6-0, 6-4]",0,0,0,NaN,NaN,0,0.500000,0.500000,NaN
3,1991-339,Adelaide,Hard,32,A,19901231,4,101889,Todd Woodbridge,AUS,...,"[7-6(2), 6-1]",1,1,0,1.000000,0.000000,0,0.375000,0.375000,1.000000
4,1991-339,Adelaide,Hard,32,A,19901231,5,101274,Udo Riglewski,GER,...,"[7-5, 6-3]",0,0,0,NaN,NaN,0,0.375000,0.375000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92012,2023-0741,Eastbourne,Grass,32,A,20230626,276,126846,Aleksandar Vukic,AUS,...,"[6-7(5), 7-6(3), 7-6(5)]",3,2,1,0.666667,0.333333,1,0.750000,0.750000,0.333333
92013,2023-0741,Eastbourne,Grass,32,A,20230626,275,106296,Gregoire Barrere,FRA,...,"[3-6, 7-6(6), 7-6(4)]",2,2,0,1.000000,0.000000,1,-0.042735,-0.042735,1.000000
92014,2023-0741,Eastbourne,Grass,32,A,20230626,273,200670,J J Wolf,USA,...,"[6-2, 6-4]",0,0,0,NaN,NaN,0,0.375000,0.375000,NaN
92015,2023-0741,Eastbourne,Grass,32,A,20230626,272,209414,Luca Van Assche,FRA,...,"[2-6, 7-6(5), 7-6(4)]",2,2,0,1.000000,0.000000,1,-0.025974,-0.025974,1.000000
92016,2023-0741,Eastbourne,Grass,32,A,20230626,271,202104,Sebastian Baez,ARG,...,"[6-3, 6-4]",0,0,0,NaN,NaN,0,NaN,NaN,NaN

In [86]:
unique_winner_ids = df_selected_columns_without_Davis_cleaned['winner_id'].nunique()
unique_winner_names = df_selected_columns_without_Davis_cleaned['winner_name'].nunique()
unique_loser_ids = df_selected_columns_without_Davis_cleaned['loser_id'].nunique()
unique_loser_names = df_selected_columns_without_Davis_cleaned['loser_name'].nunique()

print(f"Unique Winner IDs: {unique_winner_ids}")
print(f"Unique Winner Names: {unique_winner_names}")
print(f"Unique Loser IDs: {unique_loser_ids}")
print(f"Unique Loser Names: {unique_loser_names}")

Unique Winner IDs: 1426
Unique Winner Names: 1427
Unique Loser IDs: 2097
Unique Loser Names: 2098

In [87]:
# Finding discrepancies for winners
winner_pairs = df_selected_columns_without_Davis_cleaned[['winner_id', 'winner_name']].drop_duplicates()
winner_id_counts = winner_pairs['winner_id'].value_counts()
winner_name_counts = winner_pairs['winner_name'].value_counts()

discrepancy_winner_ids = winner_id_counts[winner_id_counts > 1].index
discrepancy_winner_names = winner_name_counts[winner_name_counts > 1].index

discrepancy_winner_rows = winner_pairs[(winner_pairs['winner_id'].isin(discrepancy_winner_ids)) | 
                                      (winner_pairs['winner_name'].isin(discrepancy_winner_names))]

# Finding discrepancies for losers
loser_pairs = df_selected_columns_without_Davis_cleaned[['loser_id', 'loser_name']].drop_duplicates()
loser_id_counts = loser_pairs['loser_id'].value_counts()
loser_name_counts = loser_pairs['loser_name'].value_counts()

discrepancy_loser_ids = loser_id_counts[loser_id_counts > 1].index
discrepancy_loser_names = loser_name_counts[loser_name_counts > 1].index

discrepancy_loser_rows = loser_pairs[(loser_pairs['loser_id'].isin(discrepancy_loser_ids)) | 
                                     (loser_pairs['loser_name'].isin(discrepancy_loser_names))]

print("Discrepancy Winner Rows:")
print(discrepancy_winner_rows)
print("\nDiscrepancy Loser Rows:")
print(discrepancy_loser_rows)

Discrepancy Winner Rows:
       winner_id             winner_name
43457     104273  Edouard Roger Vasselin
52457     104273  Edouard Roger-Vasselin

Discrepancy Loser Rows:
       loser_id              loser_name
41049    104273  Edouard Roger Vasselin
52323    104273  Edouard Roger-Vasselin

In [88]:
# Replace the name in winner and loser columns
df_selected_columns_without_Davis_cleaned['winner_name'] = df_selected_columns_without_Davis_cleaned['winner_name'].replace('Edouard Roger-Vasselin', 'Edouard Roger Vasselin')
df_selected_columns_without_Davis_cleaned['loser_name'] = df_selected_columns_without_Davis_cleaned['loser_name'].replace('Edouard Roger-Vasselin', 'Edouard Roger Vasselin')

# Now re-check the discrepancies using the same code as before
# Finding discrepancies for winners
winner_pairs = df_selected_columns_without_Davis_cleaned[['winner_id', 'winner_name']].drop_duplicates()
winner_id_counts = winner_pairs['winner_id'].value_counts()
winner_name_counts = winner_pairs['winner_name'].value_counts()

discrepancy_winner_ids = winner_id_counts[winner_id_counts > 1].index
discrepancy_winner_names = winner_name_counts[winner_name_counts > 1].index

discrepancy_winner_rows = winner_pairs[(winner_pairs['winner_id'].isin(discrepancy_winner_ids)) | 
                                      (winner_pairs['winner_name'].isin(discrepancy_winner_names))]

# Finding discrepancies for losers
loser_pairs = df_selected_columns_without_Davis_cleaned[['loser_id', 'loser_name']].drop_duplicates()
loser_id_counts = loser_pairs['loser_id'].value_counts()
loser_name_counts = loser_pairs['loser_name'].value_counts()

discrepancy_loser_ids = loser_id_counts[loser_id_counts > 1].index
discrepancy_loser_names = loser_name_counts[loser_name_counts > 1].index

discrepancy_loser_rows = loser_pairs[(loser_pairs['loser_id'].isin(discrepancy_loser_ids)) | 
                                     (loser_pairs['loser_name'].isin(discrepancy_loser_names))]

print("Discrepancy Winner Rows:")
print(discrepancy_winner_rows)
print("\nDiscrepancy Loser Rows:")
print(discrepancy_loser_rows)

# Print the new unique counts
print("Unique Winner IDs:", len(df_selected_columns_without_Davis_cleaned['winner_id'].unique()))
print("Unique Winner Names:", len(df_selected_columns_without_Davis_cleaned['winner_name'].unique()))
print("Unique Loser IDs:", len(df_selected_columns_without_Davis_cleaned['loser_id'].unique()))
print("Unique Loser Names:", len(df_selected_columns_without_Davis_cleaned['loser_name'].unique()))

Discrepancy Winner Rows:
Empty DataFrame
Columns: [winner_id, winner_name]
Index: []

Discrepancy Loser Rows:
Empty DataFrame
Columns: [loser_id, loser_name]
Index: []
Unique Winner IDs: 1426
Unique Winner Names: 1426
Unique Loser IDs: 2097
Unique Loser Names: 2097

In [89]:
#Print the columns and number of rows
print("Columns in the DataFrame:", df_selected_columns_without_Davis_cleaned.columns.tolist())
print("Number of Rows:", len(df_selected_columns_without_Davis_cleaned))

Columns in the DataFrame: ['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level', 'tourney_date', 'match_num', 'winner_id', 'winner_name', 'winner_ioc', 'winner_age', 'loser_id', 'loser_name', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon', 'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt', 'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced', 'winner_rank', 'loser_rank', 'rank_difference', 'winner_break_point_save_rate', 'winner_break_point_conversion_rate', 'loser_break_point_save_rate', 'loser_break_point_conversion_rate', 'score_sets', 'total_tiebreaks', 'w_tiebreaks', 'l_tiebreaks', 'w_tiebreak_percentage', 'l_tiebreak_percentage', 'comeback', 'break_point_save_rate_difference', 'break_point_conversion_rate_difference', 'tiebreak_percentage_difference']
Number of Rows: 92017

In [90]:
df_selected_columns_without_Davis_cleaned.to_excel("adding_differences_revised.xlsx", index=False)

In [91]:
# Break of serves differences
positive_break_point_save_diff = df_selected_columns_without_Davis_cleaned['break_point_save_rate_difference'].gt(0).sum()
negative_break_point_save_diff = df_selected_columns_without_Davis_cleaned['break_point_save_rate_difference'].lt(0).sum()

positive_break_point_conversion_diff = df_selected_columns_without_Davis_cleaned['break_point_conversion_rate_difference'].gt(0).sum()
negative_break_point_conversion_diff = df_selected_columns_without_Davis_cleaned['break_point_conversion_rate_difference'].lt(0).sum()

# Tiebreaks differences
positive_tiebreak_diff = df_selected_columns_without_Davis_cleaned['tiebreak_percentage_difference'].gt(0).sum()
negative_tiebreak_diff = df_selected_columns_without_Davis_cleaned['tiebreak_percentage_difference'].lt(0).sum()

total_diffs = len(df_selected_columns_without_Davis_cleaned)

print(f"Break Point Save Rate Difference: {positive_break_point_save_diff} positive, {negative_break_point_save_diff} negative, {total_diffs} total")
print(f"Break Point Conversion Rate Difference: {positive_break_point_conversion_diff} positive, {negative_break_point_conversion_diff} negative, {total_diffs} total")
print(f"Tiebreak Percentage Difference: {positive_tiebreak_diff} positive, {negative_tiebreak_diff} negative, {total_diffs} total")

Break Point Save Rate Difference: 57093 positive, 22966 negative, 92017 total
Break Point Conversion Rate Difference: 57093 positive, 22966 negative, 92017 total
Tiebreak Percentage Difference: 25618 positive, 5362 negative, 92017 total

In [92]:
print(df_selected_columns_without_Davis_cleaned[['break_point_save_rate_difference', 'break_point_conversion_rate_difference']].head(10))

   break_point_save_rate_difference  break_point_conversion_rate_difference
0                         -0.250000                               -0.250000
1                          0.400000                                0.400000
2                          0.500000                                0.500000
3                          0.375000                                0.375000
4                          0.375000                                0.375000
5                          0.152778                                0.152778
6                          0.571429                                0.571429
7                               NaN                                     NaN
8                          0.230159                                0.230159
9                               NaN                                     NaN

In [93]:
df_selected_columns_without_Davis_cleaned = df_selected_columns_without_Davis_cleaned.rename(columns={
    'w_tiebreak_percentage': 'winner_tiebreak_percentage',
    'l_tiebreak_percentage': 'loser_tiebreak_percentage',
    'comeback': 'winner_comeback_count'
})

In [94]:
df_selected_columns_without_Davis_cleaned

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_name,winner_ioc,...,score_sets,total_tiebreaks,w_tiebreaks,l_tiebreaks,winner_tiebreak_percentage,loser_tiebreak_percentage,winner_comeback_count,break_point_save_rate_difference,break_point_conversion_rate_difference,tiebreak_percentage_difference
0,1991-339,Adelaide,Hard,32,A,19901231,1,101723,Magnus Larsson,SWE,...,"[6-4, 3-6, 7-6(2)]",1,1,0,1.000000,0.000000,0,-0.250000,-0.250000,1.000000
1,1991-339,Adelaide,Hard,32,A,19901231,2,100946,Slobodan Zivojinovic,YUG,...,"[6-3, 3-6, 7-6(6)]",1,1,0,1.000000,0.000000,0,0.400000,0.400000,1.000000
2,1991-339,Adelaide,Hard,32,A,19901231,3,101234,Patrik Kuhnen,GER,...,"[6-0, 6-4]",0,0,0,NaN,NaN,0,0.500000,0.500000,NaN
3,1991-339,Adelaide,Hard,32,A,19901231,4,101889,Todd Woodbridge,AUS,...,"[7-6(2), 6-1]",1,1,0,1.000000,0.000000,0,0.375000,0.375000,1.000000
4,1991-339,Adelaide,Hard,32,A,19901231,5,101274,Udo Riglewski,GER,...,"[7-5, 6-3]",0,0,0,NaN,NaN,0,0.375000,0.375000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92012,2023-0741,Eastbourne,Grass,32,A,20230626,276,126846,Aleksandar Vukic,AUS,...,"[6-7(5), 7-6(3), 7-6(5)]",3,2,1,0.666667,0.333333,1,0.750000,0.750000,0.333333
92013,2023-0741,Eastbourne,Grass,32,A,20230626,275,106296,Gregoire Barrere,FRA,...,"[3-6, 7-6(6), 7-6(4)]",2,2,0,1.000000,0.000000,1,-0.042735,-0.042735,1.000000
92014,2023-0741,Eastbourne,Grass,32,A,20230626,273,200670,J J Wolf,USA,...,"[6-2, 6-4]",0,0,0,NaN,NaN,0,0.375000,0.375000,NaN
92015,2023-0741,Eastbourne,Grass,32,A,20230626,272,209414,Luca Van Assche,FRA,...,"[2-6, 7-6(5), 7-6(4)]",2,2,0,1.000000,0.000000,1,-0.025974,-0.025974,1.000000
92016,2023-0741,Eastbourne,Grass,32,A,20230626,271,202104,Sebastian Baez,ARG,...,"[6-3, 6-4]",0,0,0,NaN,NaN,0,NaN,NaN,NaN

In [95]:
# # Start the timer
# start_time = time.time()

# # Start with your original DataFrame
# df_selected_columns_without_Davis_cleaned_cumulative = df_selected_columns_without_Davis_cleaned.copy()

# # Create a dictionary to store cumulative statistics for each player
# player_stats = {}

# # Iterate through the DataFrame
# for idx, row in df_selected_columns_without_Davis_cleaned.iterrows():
#     for player_type in ['winner', 'loser']:
#         player_id_column = f'{player_type}_id'
#         player_id = row[player_id_column]
#         if player_id not in player_stats:
#             # Initialize player stats
#             player_stats[player_id] = {
#                 'break_point_save_rate': [],
#                 'break_point_conversion_rate': [],
#                 'tiebreak_percentage': [],
#                 'comeback_count': 0
#             }

#         # Update player stats
#         player_stats[player_id]['break_point_save_rate'].append(row[f'{player_type}_break_point_save_rate'])
#         player_stats[player_id]['break_point_conversion_rate'].append(row[f'{player_type}_break_point_conversion_rate'])
#         player_stats[player_id]['tiebreak_percentage'].append(row[f'{player_type}_tiebreak_percentage'])
#         if player_type == 'winner' and row['winner_comeback_count'] == 1:
#             player_stats[player_id]['comeback_count'] += 1

#         # Calculate cumulative averages
#         df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, f'{player_type}_cumulative_break_point_save_rate'] = sum(player_stats[player_id]['break_point_save_rate']) / len(player_stats[player_id]['break_point_save_rate'])
#         df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, f'{player_type}_cumulative_break_point_conversion_rate'] = sum(player_stats[player_id]['break_point_conversion_rate']) / len(player_stats[player_id]['break_point_conversion_rate'])
#         df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, f'{player_type}_cumulative_tiebreak_percentage'] = sum(player_stats[player_id]['tiebreak_percentage']) / len(player_stats[player_id]['tiebreak_percentage'])
#         if player_type == 'winner':
#             df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, 'winner_cumulative_comeback_count'] = player_stats[player_id]['comeback_count']

#     # Compute differences between players
#     df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, 'difference_break_point_save_rate'] = df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, 'winner_cumulative_break_point_save_rate'] - df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, 'loser_cumulative_break_point_save_rate']
#     df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, 'difference_break_point_conversion_rate'] = df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, 'winner_cumulative_break_point_conversion_rate'] - df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, 'loser_cumulative_break_point_conversion_rate']
#     df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, 'difference_tiebreak_percentage'] = df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, 'winner_cumulative_tiebreak_percentage'] - df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, 'loser_cumulative_tiebreak_percentage']

# # Print the execution time
# end_time = time.time()
# print(f"Execution time: {end_time - start_time} seconds")

# # # Start the timer
# # start_time = time.time()

# # # Start with your original DataFrame
# # df_selected_columns_without_Davis_cleaned_cumulative = df_selected_columns_without_Davis_cleaned.copy()

# # # Create a dictionary to store cumulative statistics for each player
# # player_stats = {}

# # # Iterate through the DataFrame
# # for idx, row in df_selected_columns_without_Davis_cleaned.iterrows():
# #     for player_type in ['winner', 'loser']:
# #         player_id_column = f'{player_type}_id'
# #         player_id = row[player_id_column]
        
# #         # Initialize player stats
# #         if player_id not in player_stats:
# #             player_stats[player_id] = {
# #                 'break_point_save_rate': [],
# #                 'break_point_conversion_rate': [],
# #                 'tiebreak_percentage': [],
# #                 'comeback_count': 0 if player_type == 'winner' else None,
# #                 'match_count': 0
# #             }
        
# #         # Update player stats
# #         player_stats[player_id]['break_point_save_rate'].append(row[f'{player_type}_break_point_save_rate'])
# #         player_stats[player_id]['break_point_conversion_rate'].append(row[f'{player_type}_break_point_conversion_rate'])
# #         player_stats[player_id]['tiebreak_percentage'].append(row[f'{player_type}_tiebreak_percentage'])
# #         player_stats[player_id]['match_count'] += 1
        
# #         if player_type == 'winner' and row['winner_comeback_count'] == 1:
# #             player_stats[player_id]['comeback_count'] += 1

# #         # Calculate cumulative averages
# #         df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, f'{player_type}_cumulative_break_point_save_rate'] = sum(player_stats[player_id]['break_point_save_rate']) / len(player_stats[player_id]['break_point_save_rate'])
# #         df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, f'{player_type}_cumulative_break_point_conversion_rate'] = sum(player_stats[player_id]['break_point_conversion_rate']) / len(player_stats[player_id]['break_point_conversion_rate'])
# #         df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, f'{player_type}_cumulative_tiebreak_percentage'] = sum(player_stats[player_id]['tiebreak_percentage']) / len(player_stats[player_id]['tiebreak_percentage'])
# #         df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, f'{player_type}_cumulative_match_count'] = player_stats[player_id]['match_count']

# #         # Add cumulative comebacks only for the winner
# #         if player_type == 'winner':
# #             df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, f'{player_type}_cumulative_comeback_count'] = player_stats[player_id]['comeback_count']

# #     # Compute differences between players
# #     df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, 'difference_break_point_save_rate'] = df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, 'winner_cumulative_break_point_save_rate'] - df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, 'loser_cumulative_break_point_save_rate']
# #     df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, 'difference_break_point_conversion_rate'] = df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, 'winner_cumulative_break_point_conversion_rate'] - df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, 'loser_cumulative_break_point_conversion_rate']
# #     df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, 'difference_tiebreak_percentage'] = df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, 'winner_cumulative_tiebreak_percentage'] - df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, 'loser_cumulative_tiebreak_percentage']

# # # Print the execution time
# # print("Execution time: %s seconds" % (time.time() - start_time))

In [96]:
#df_selected_columns_without_Davis_cleaned_cumulative

In [97]:
#df_selected_columns_without_Davis_cleaned_cumulative.to_excel("cumulative_stats.xlsx", index=False)

In [98]:
# # Replace this with Djokovic's player ID in your dataset
# djokovic_id = 104925

# # Filter the DataFrame to include only the rows where Djokovic was either the winner or the loser
# djokovic_matches = df_selected_columns_without_Davis_cleaned_cumulative[(df_selected_columns_without_Davis_cleaned_cumulative['winner_id'] == djokovic_id) | (df_selected_columns_without_Davis_cleaned_cumulative['loser_id'] == djokovic_id)]

# # Print the results to audit the cumulative statistics
# print(djokovic_matches[['winner_id', 'loser_id', 'winner_cumulative_break_point_save_rate', 'loser_cumulative_break_point_save_rate', 'winner_cumulative_break_point_conversion_rate', 'loser_cumulative_break_point_conversion_rate', 'winner_cumulative_tiebreak_percentage', 'loser_cumulative_tiebreak_percentage', 'winner_cumulative_comeback_count']])

In [99]:
# # Start the timer
# start_time = time.time()

# # Start with your original DataFrame
# df_selected_columns_without_Davis_cleaned_cumulative = df_selected_columns_without_Davis_cleaned.copy()

# # Create a dictionary to store cumulative statistics for each player
# player_stats = {}

# # Iterate through the DataFrame
# for idx, row in df_selected_columns_without_Davis_cleaned.iterrows():
#     for player_type in ['winner', 'loser']:
#         player_id_column = f'{player_type}_id'
#         player_id = row[player_id_column]
        
#         # Initialize player stats
#         if player_id not in player_stats:
#             player_stats[player_id] = {
#                 'break_point_save_rate': [],
#                 'break_point_conversion_rate': [],
#                 'tiebreak_percentage': [],
#                 'comeback_count': 0,
#                 'match_count': 0
#             }
        
#         # Update player stats
#         player_stats[player_id]['break_point_save_rate'].append(row[f'{player_type}_break_point_save_rate'])
#         player_stats[player_id]['break_point_conversion_rate'].append(row[f'{player_type}_break_point_conversion_rate'])
#         player_stats[player_id]['tiebreak_percentage'].append(row[f'{player_type}_tiebreak_percentage'])
#         player_stats[player_id]['match_count'] += 1
        
#         if player_type == 'winner' and row['winner_comeback_count'] == 1:
#             player_stats[player_id]['comeback_count'] += 1

#         # Calculate cumulative averages
#         df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, f'{player_type}_cumulative_break_point_save_rate'] = sum(player_stats[player_id]['break_point_save_rate']) / len(player_stats[player_id]['break_point_save_rate'])
#         df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, f'{player_type}_cumulative_break_point_conversion_rate'] = sum(player_stats[player_id]['break_point_conversion_rate']) / len(player_stats[player_id]['break_point_conversion_rate'])
#         df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, f'{player_type}_cumulative_tiebreak_percentage'] = sum(player_stats[player_id]['tiebreak_percentage']) / len(player_stats[player_id]['tiebreak_percentage'])
#         df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, f'{player_type}_cumulative_match_count'] = player_stats[player_id]['match_count']

#         # Add cumulative comebacks only for the winner
#         if player_type == 'winner':
#             df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, f'{player_type}_cumulative_comeback_count'] = player_stats[player_id]['comeback_count']

#     # Compute differences between players
#     df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, 'difference_break_point_save_rate'] = df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, 'winner_cumulative_break_point_save_rate'] - df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, 'loser_cumulative_break_point_save_rate']
#     df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, 'difference_break_point_conversion_rate'] = df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, 'winner_cumulative_break_point_conversion_rate'] - df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, 'loser_cumulative_break_point_conversion_rate']
#     df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, 'difference_tiebreak_percentage'] = df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, 'winner_cumulative_tiebreak_percentage'] - df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, 'loser_cumulative_tiebreak_percentage']

# # Print the execution time
# print("Execution time: %s seconds" % (time.time() - start_time))

In [100]:
#df_selected_columns_without_Davis_cleaned_cumulative.to_excel("cumulative_stats_re2.xlsx", index=False)

In [101]:
# # Define the players and criteria
# players = ["Roger Federer", "Rafael Nadal", "Novak Djokovic"]
# tourney_level = "G"
# round_of_tournament = "F"

# # Filter the DataFrame based on the criteria
# grand_slam_wins = df_selected_columns_without_Davis_cleaned_cumulative[
#     (df_selected_columns_without_Davis_cleaned_cumulative['winner_name'].isin(players)) &
#     (df_selected_columns_without_Davis_cleaned_cumulative['tourney_level'] == tourney_level) &
#     (df_selected_columns_without_Davis_cleaned_cumulative['round'] == round_of_tournament)
# ]

# # Count the number of wins for each player
# player_wins = grand_slam_wins['winner_name'].value_counts()

# # Print the results
# for player in players:
#     print(f"{player} has won {player_wins.get(player, 0)} Grand Slam tournaments.")

In [102]:
# # Define the players and criteria
# players = ["Roger Federer", "Rafael Nadal", "Novak Djokovic", "Andy Murray", "Stan Wawrinka"]
# tourney_level = "G"
# round_of_tournament = "F"

# # Filter the DataFrame based on the criteria
# grand_slam_wins = df_selected_columns_without_Davis_cleaned_cumulative[
#     (df_selected_columns_without_Davis_cleaned_cumulative['winner_name'].isin(players)) &
#     (df_selected_columns_without_Davis_cleaned_cumulative['tourney_level'] == tourney_level) &
#     (df_selected_columns_without_Davis_cleaned_cumulative['round'] == round_of_tournament)
# ]

# # Count the number of wins for each player
# player_wins = grand_slam_wins['winner_name'].value_counts()

# # Print the results
# for player in players:
#     print(f"{player} has won {player_wins.get(player, 0)} Grand Slam tournaments.")

In [103]:
# # Convert tourney_date to a string and extract the year
# df_selected_columns_without_Davis_cleaned_cumulative['year'] = df_selected_columns_without_Davis_cleaned_cumulative['tourney_date'].apply(lambda x: str(x)[:4])

# players = ["Roger Federer", "Rafael Nadal", "Novak Djokovic", "Andy Murray", "Stan Wawrinka"]

# # Filter the DataFrame for only the specified players and Grand Slam wins
# filtered_wins = df_selected_columns_without_Davis_cleaned_cumulative[
#     (df_selected_columns_without_Davis_cleaned_cumulative['winner_name'].isin(players)) & 
#     (df_selected_columns_without_Davis_cleaned_cumulative['tourney_level'] == 'G') &
#     (df_selected_columns_without_Davis_cleaned_cumulative['round'] == 'F')]

# # Group by player, tournament, and year
# grouped = filtered_wins.groupby(['winner_name', 'tourney_name', 'year'])

# # Count the number of wins for each group
# grouped_counts = grouped.size()

# # Print the results in the specified format
# for player in players:
#     player_data = grouped_counts[player]
#     print(player)
#     for (tourney_name, year), count in player_data.items():
#         print(f"{year} ---- {tourney_name}")
#     print("\n")

In [104]:
# # Replace this with Alcaraz's player ID in your dataset
# alcaraz_id = 207989

# # Filter the DataFrame to include only the rows where Alcaraz was either the winner or the loser
# alcaraz_matches = df_selected_columns_without_Davis_cleaned_cumulative[(df_selected_columns_without_Davis_cleaned_cumulative['winner_id'] == alcaraz_id) | (df_selected_columns_without_Davis_cleaned_cumulative['loser_id'] == alcaraz_id)]

# # Create a copy to avoid SettingWithCopyWarning
# alcaraz_matches = alcaraz_matches.copy()

# # Sort the matches by date
# #alcaraz_matches.sort_values('tourney_date', inplace=True)

# # Print the results to audit the cumulative statistics
# print(alcaraz_matches[['tourney_date', 'winner_id', 'loser_id', 'winner_cumulative_break_point_save_rate', 'loser_cumulative_break_point_save_rate', 'winner_cumulative_break_point_conversion_rate', 'loser_cumulative_break_point_conversion_rate', 'winner_cumulative_tiebreak_percentage', 'loser_cumulative_tiebreak_percentage', 'winner_cumulative_comeback_count']])

In [105]:
# # Set pandas display options
# pd.set_option('display.max_columns', None)  # This will ensure that all columns are displayed
# pd.set_option('display.width', None)  # This will ensure that the DataFrame doesn't wrap

# # Print the DataFrame
# print(alcaraz_matches[['tourney_date', 
#                        'winner_break_points_saved', 'loser_break_points_saved',
#                        'winner_break_points_served', 'loser_break_points_served',
#                        'winner_break_point_save_rate', 'loser_break_point_save_rate',
#                        'winner_cumulative_break_point_save_rate', 'loser_cumulative_break_point_save_rate',
#                        'winner_break_point_conversion_rate', 'loser_break_point_conversion_rate',
#                        'winner_cumulative_break_point_conversion_rate', 'loser_cumulative_break_point_conversion_rate',
#                        'winner_tiebreaks_played', 'loser_tiebreaks_played',
#                        'winner_tiebreaks_won', 'loser_tiebreaks_won',
#                        'winner_tiebreak_percentage', 'loser_tiebreak_percentage',
#                        'winner_cumulative_tiebreak_percentage', 'loser_cumulative_tiebreak_percentage',
#                        'winner_comeback_count', 'loser_comeback_count',
#                        'winner_cumulative_comeback_count', 'loser_cumulative_comeback_count',
#                        'winner_match_count', 'loser_match_count']])

In [106]:
# pd.set_option('display.max_rows', None)
# print(df_selected_columns_without_Davis_cleaned_cumulative.isnull().sum())

In [107]:
# num_rows = df_selected_columns_without_Davis_cleaned_cumulative.shape[0]
# print(f"The DataFrame has {num_rows} rows.")

In [108]:
# # Iterate through the DataFrame
# for idx, row in df_selected_columns_without_Davis_cleaned.iterrows():
#     for player_type in ['winner', 'loser']:
#         player_id_column = f'{player_type}_id'
#         player_id = row[player_id_column]

#         # Initialize player stats
#         if player_id not in player_stats:
#             player_stats[player_id] = {
#                 'break_point_save_rate': [],
#                 'break_point_conversion_rate': [],
#                 'tiebreak_percentage': [],
#                 'match_count': 0
#             }

#             # Initialize comeback_count only for the winner
#             if player_type == 'winner':
#                 player_stats[player_id]['comeback_count'] = 0

#         # Update player stats
#         player_stats[player_id]['break_point_save_rate'].append(row[f'{player_type}_break_point_save_rate'])
#         player_stats[player_id]['break_point_conversion_rate'].append(row[f'{player_type}_break_point_conversion_rate'])
#         player_stats[player_id]['tiebreak_percentage'].append(row[f'{player_type}_tiebreak_percentage'])
#         player_stats[player_id]['match_count'] += 1
        
#         if player_type == 'winner' and row['winner_comeback_count'] == 1:
#             player_stats[player_id]['comeback_count'] += 1

#         # Calculate cumulative averages only if the player has played more than one match
#         if len(player_stats[player_id]['break_point_save_rate']) > 1:
#             df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, f'{player_type}_cumulative_break_point_save_rate'] = sum(player_stats[player_id]['break_point_save_rate']) / len(player_stats[player_id]['break_point_save_rate'])
#             df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, f'{player_type}_cumulative_break_point_conversion_rate'] = sum(player_stats[player_id]['break_point_conversion_rate']) / len(player_stats[player_id]['break_point_conversion_rate'])
#             df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, f'{player_type}_cumulative_tiebreak_percentage'] = sum(player_stats[player_id]['tiebreak_percentage']) / len(player_stats[player_id]['tiebreak_percentage'])
#             df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, f'{player_type}_cumulative_match_count'] = player_stats[player_id]['match_count']

#             # Add cumulative comebacks only for the winner
#             if player_type == 'winner':
#                 df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, f'{player_type}_cumulative_comeback_count'] = player_stats[player_id]['comeback_count']

#     # Compute differences between players
#     df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, 'difference_break_point_save_rate'] = df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, 'winner_cumulative_break_point_save_rate'] - df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, 'loser_cumulative_break_point_save_rate']
#     df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, 'difference_break_point_conversion_rate'] = df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, 'winner_cumulative_break_point_conversion_rate'] - df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, 'loser_cumulative_break_point_conversion_rate']
#     df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, 'difference_tiebreak_percentage'] = df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, 'winner_cumulative_tiebreak_percentage'] - df_selected_columns_without_Davis_cleaned_cumulative.loc[idx, 'loser_cumulative_tiebreak_percentage']

In [109]:
#df_selected_columns_without_Davis_cleaned.isnull().sum()

In [110]:
#df_selected_columns_without_Davis_cleaned_cumulative.isnull().sum()

In [111]:
# import time

# # Start the timer
# start_time = time.time()

# # Create a dictionary to store cumulative statistics for each player
# player_stats = {}

# # Iterate through the DataFrame
# for idx, row in df_selected_columns_without_Davis_cleaned.iterrows():
#     for player_type in ['winner', 'loser']:
#         player_id_column = f'{player_type}_id'
#         player_id = row[player_id_column]

#         # Initialize player stats
#         if player_id not in player_stats:
#             player_stats[player_id] = {
#                 'break_point_save_rate': [],
#                 'break_point_conversion_rate': [],
#                 'tiebreak_percentage': [],
#                 'match_count': 0
#             }

#             # Initialize comeback_count only for the winner
#             if player_type == 'winner':
#                 player_stats[player_id]['comeback_count'] = 0

#         # Add the stats to player_stats only if it's not the player's first game
#         elif player_id in player_stats:
#             # Update player stats
#             player_stats[player_id]['break_point_save_rate'].append(row[f'{player_type}_break_point_save_rate'])
#             player_stats[player_id]['break_point_conversion_rate'].append(row[f'{player_type}_break_point_conversion_rate'])
#             player_stats[player_id]['tiebreak_percentage'].append(row[f'{player_type}_tiebreak_percentage'])
#             player_stats[player_id]['match_count'] += 1
            
#             if player_type == 'winner' and row['winner_comeback_count'] == 1:
#                 player_stats[player_id]['comeback_count'] += 1

#             # Calculate cumulative averages
#             df_selected_columns_without_Davis_cleaned.loc[idx, f'{player_type}_cumulative_break_point_save_rate'] = sum(player_stats[player_id]['break_point_save_rate']) / len(player_stats[player_id]['break_point_save_rate'])
#             df_selected_columns_without_Davis_cleaned.loc[idx, f'{player_type}_cumulative_break_point_conversion_rate'] = sum(player_stats[player_id]['break_point_conversion_rate']) / len(player_stats[player_id]['break_point_conversion_rate'])
#             df_selected_columns_without_Davis_cleaned.loc[idx, f'{player_type}_cumulative_tiebreak_percentage'] = sum(player_stats[player_id]['tiebreak_percentage']) / len(player_stats[player_id]['tiebreak_percentage'])
#             df_selected_columns_without_Davis_cleaned.loc[idx, f'{player_type}_cumulative_match_count'] = player_stats[player_id]['match_count']

#             # Add cumulative comebacks only for the winner
#             if player_type == 'winner':
#                 df_selected_columns_without_Davis_cleaned.loc[idx, f'{player_type}_cumulative_comeback_count'] = player_stats[player_id]['comeback_count']
    
#     # Compute differences between players
#     df_selected_columns_without_Davis_cleaned.loc[idx, 'difference_break_point_save_rate'] = df_selected_columns_without_Davis_cleaned.loc[idx, 'winner_cumulative_break_point_save_rate'] - df_selected_columns_without_Davis_cleaned.loc[idx, 'loser_cumulative_break_point_save_rate']
#     df_selected_columns_without_Davis_cleaned.loc[idx, 'difference_break_point_conversion_rate'] = df_selected_columns_without_Davis_cleaned.loc[idx, 'winner_cumulative_break_point_conversion_rate'] - df_selected_columns_without_Davis_cleaned.loc[idx, 'loser_cumulative_break_point_conversion_rate']
#     df_selected_columns_without_Davis_cleaned.loc[idx, 'difference_tiebreak_percentage'] = df_selected_columns_without_Davis_cleaned.loc[idx, 'winner_cumulative_tiebreak_percentage'] - df_selected_columns_without_Davis_cleaned.loc[idx, 'loser_cumulative_tiebreak_percentage']

# # Print out the player_stats for the first 10 players for checking
# for player_id, stats in list(player_stats.items())[:10]:
#     print(f"Player ID: {player_id}, Stats: {stats}")

# # Print the execution time
# print("Execution time: %s seconds" % (time.time() - start_time))

In [112]:
# import time

# # Start the timer
# start_time = time.time()

# # Copy the original DataFrame
# df_selected_columns_without_Davis_cleaned_cumulative2 = df_selected_columns_without_Davis_cleaned.copy()

# # Create a dictionary to store cumulative statistics for each player
# player_stats = {}

# # Iterate through the DataFrame
# for idx, row in df_selected_columns_without_Davis_cleaned.iterrows():
#     for player_type in ['winner', 'loser']:
#         player_id_column = f'{player_type}_id'
#         player_id = row[player_id_column]

#         # Initialize player stats
#         if player_id not in player_stats:
#             player_stats[player_id] = {
#                 'break_point_save_rate': [],
#                 'break_point_conversion_rate': [],
#                 'tiebreak_percentage': [],
#                 'match_count': 0
#             }

#             # Initialize comeback_count only for the winner
#             if player_type == 'winner':
#                 player_stats[player_id]['comeback_count'] = 0

#         # Add the stats to player_stats only if it's not the player's first game
#         elif player_id in player_stats:
#             # Update player stats
#             player_stats[player_id]['break_point_save_rate'].append(row[f'{player_type}_break_point_save_rate'])
#             player_stats[player_id]['break_point_conversion_rate'].append(row[f'{player_type}_break_point_conversion_rate'])
#             player_stats[player_id]['tiebreak_percentage'].append(row[f'{player_type}_tiebreak_percentage'])
#             player_stats[player_id]['match_count'] += 1
            
#             if player_type == 'winner' and row['winner_comeback_count'] == 1:
#                 player_stats[player_id]['comeback_count'] += 1

#             # Calculate cumulative averages
#             df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, f'{player_type}_cumulative_break_point_save_rate'] = sum(player_stats[player_id]['break_point_save_rate']) / len(player_stats[player_id]['break_point_save_rate'])
#             df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, f'{player_type}_cumulative_break_point_conversion_rate'] = sum(player_stats[player_id]['break_point_conversion_rate']) / len(player_stats[player_id]['break_point_conversion_rate'])
#             df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, f'{player_type}_cumulative_tiebreak_percentage'] = sum(player_stats[player_id]['tiebreak_percentage']) / len(player_stats[player_id]['tiebreak_percentage'])
#             df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, f'{player_type}_cumulative_match_count'] = player_stats[player_id]['match_count']

#             # Add cumulative comebacks only for the winner
#             if player_type == 'winner':
#                 df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, f'{player_type}_cumulative_comeback_count'] = player_stats[player_id]['comeback_count']
    
#     # Compute differences between players
#     df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, 'difference_break_point_save_rate'] = df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, 'winner_cumulative_break_point_save_rate'] - df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, 'loser_cumulative_break_point_save_rate']
#     df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, 'difference_break_point_conversion_rate'] = df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, 'winner_cumulative_break_point_conversion_rate'] - df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, 'loser_cumulative_break_point_conversion_rate']
#     df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, 'difference_tiebreak_percentage'] = df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, 'winner_cumulative_tiebreak_percentage'] - df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, 'loser_cumulative_tiebreak_percentage']

# # Print out the player_stats for the first 10 players for checking
# for player_id, stats in list(player_stats.items())[:10]:
#     print(f"Player ID: {player_id}, Stats: {stats}")

# # Print the execution time
# print("Execution time: %s seconds" % (time.time() - start_time))

In [113]:
# import time
# import numpy as np

# # Start the timer
# start_time = time.time()

# # Copy the original DataFrame
# df_selected_columns_without_Davis_cleaned_cumulative2 = df_selected_columns_without_Davis_cleaned.copy()

# # Pre-create columns in the DataFrame with null values
# cumulative_columns = [
#     'winner_cumulative_break_point_save_rate',
#     'winner_cumulative_break_point_conversion_rate',
#     'winner_cumulative_tiebreak_percentage',
#     'winner_cumulative_match_count',
#     'winner_cumulative_comeback_count',
#     'loser_cumulative_break_point_save_rate',
#     'loser_cumulative_break_point_conversion_rate',
#     'loser_cumulative_tiebreak_percentage',
#     'loser_cumulative_match_count',
#     'difference_break_point_save_rate',
#     'difference_break_point_conversion_rate',
#     'difference_tiebreak_percentage'
# ]

# for col in cumulative_columns:
#     df_selected_columns_without_Davis_cleaned_cumulative2[col] = np.nan

# # Create a dictionary to store cumulative statistics for each player
# player_stats = {}

# # Iterate through the DataFrame
# for idx, row in df_selected_columns_without_Davis_cleaned.iterrows():
#     for player_type in ['winner', 'loser']:
#         player_id_column = f'{player_type}_id'
#         player_id = row[player_id_column]

#         # Initialize player stats
#         if player_id not in player_stats:
#             player_stats[player_id] = {
#                 'break_point_save_rate': [],
#                 'break_point_conversion_rate': [],
#                 'tiebreak_percentage': [],
#                 'match_count': 0
#             }

#             # Initialize comeback_count only for the winner
#             if player_type == 'winner':
#                 player_stats[player_id]['comeback_count'] = 0

#         # Add the stats to player_stats only if it's not the player's first game
#         elif player_id in player_stats:
#             # Update player stats
#             player_stats[player_id]['break_point_save_rate'].append(row[f'{player_type}_break_point_save_rate'])
#             player_stats[player_id]['break_point_conversion_rate'].append(row[f'{player_type}_break_point_conversion_rate'])
#             player_stats[player_id]['tiebreak_percentage'].append(row[f'{player_type}_tiebreak_percentage'])
#             player_stats[player_id]['match_count'] += 1
            
#             if player_type == 'winner' and row['winner_comeback_count'] == 1:
#                 player_stats[player_id]['comeback_count'] += 1

#             # Calculate cumulative averages
#             df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, f'{player_type}_cumulative_break_point_save_rate'] = sum(player_stats[player_id]['break_point_save_rate']) / len(player_stats[player_id]['break_point_save_rate'])
#             df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, f'{player_type}_cumulative_break_point_conversion_rate'] = sum(player_stats[player_id]['break_point_conversion_rate']) / len(player_stats[player_id]['break_point_conversion_rate'])
#             df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, f'{player_type}_cumulative_tiebreak_percentage'] = sum(player_stats[player_id]['tiebreak_percentage']) / len(player_stats[player_id]['tiebreak_percentage'])
#             df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, f'{player_type}_cumulative_match_count'] = player_stats[player_id]['match_count']

#             # Add cumulative comebacks only for the winner
#             if player_type == 'winner':
#                 df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, f'{player_type}_cumulative_comeback_count'] = player_stats[player_id]['comeback_count']
    
#     # Compute differences between players
#     df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, 'difference_break_point_save_rate'] = df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, 'winner_cumulative_break_point_save_rate'] - df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, 'loser_cumulative_break_point_save_rate']
#     df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, 'difference_break_point_conversion_rate'] = df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, 'winner_cumulative_break_point_conversion_rate'] - df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, 'loser_cumulative_break_point_conversion_rate']
#     df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, 'difference_tiebreak_percentage'] = df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, 'winner_cumulative_tiebreak_percentage'] - df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, 'loser_cumulative_tiebreak_percentage']

# # Print out the player_stats for the first 10 players for checking
# for player_id, stats in list(player_stats.items())[:10]:
#     print(f"Player ID: {player_id}, Stats: {stats}")

# # Print the execution time
# print("Execution time: %s seconds" % (time.time() - start_time))

In [114]:
# import time
# import numpy as np

# # Start the timer
# start_time = time.time()

# # Copy the original DataFrame
# df_selected_columns_without_Davis_cleaned_cumulative2 = df_selected_columns_without_Davis_cleaned.copy()

# # Pre-create columns in the DataFrame with null values
# cumulative_columns = [
#     'winner_cumulative_break_point_save_rate',
#     'winner_cumulative_break_point_conversion_rate',
#     'winner_cumulative_tiebreak_percentage',
#     'winner_cumulative_match_count',
#     'winner_cumulative_comeback_count',
#     'loser_cumulative_break_point_save_rate',
#     'loser_cumulative_break_point_conversion_rate',
#     'loser_cumulative_tiebreak_percentage',
#     'loser_cumulative_match_count',
#     'difference_break_point_save_rate',
#     'difference_break_point_conversion_rate',
#     'difference_tiebreak_percentage'
# ]

# for col in cumulative_columns:
#     df_selected_columns_without_Davis_cleaned_cumulative2[col] = np.nan

# # Create a dictionary to store cumulative statistics for each player
# player_stats = {}

# # Iterate through the DataFrame
# for idx, row in df_selected_columns_without_Davis_cleaned.iterrows():
#     for player_type in ['winner', 'loser']:
#         player_id_column = f'{player_type}_id'
#         player_id = row[player_id_column]

#         # Initialize player stats
#         if player_id not in player_stats:
#             player_stats[player_id] = {
#                 'break_point_save_rate': [],
#                 'break_point_conversion_rate': [],
#                 'tiebreak_percentage': [],
#                 'match_count': 0,
#                 'comeback_count': 0
#             }

#         # Add the stats to player_stats only if it's not the player's first game
#         elif player_id in player_stats:
#             # Update player stats
#             player_stats[player_id]['break_point_save_rate'].append(row[f'{player_type}_break_point_save_rate'])
#             player_stats[player_id]['break_point_conversion_rate'].append(row[f'{player_type}_break_point_conversion_rate'])
#             player_stats[player_id]['tiebreak_percentage'].append(row[f'{player_type}_tiebreak_percentage'])
#             player_stats[player_id]['match_count'] += 1
            
#             if player_type == 'winner' and row['winner_comeback_count'] == 1:
#                 player_stats[player_id]['comeback_count'] += 1

#             # Calculate cumulative averages
#             df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, f'{player_type}_cumulative_break_point_save_rate'] = sum(player_stats[player_id]['break_point_save_rate']) / len(player_stats[player_id]['break_point_save_rate'])
#             df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, f'{player_type}_cumulative_break_point_conversion_rate'] = sum(player_stats[player_id]['break_point_conversion_rate']) / len(player_stats[player_id]['break_point_conversion_rate'])
#             df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, f'{player_type}_cumulative_tiebreak_percentage'] = sum(player_stats[player_id]['tiebreak_percentage']) / len(player_stats[player_id]['tiebreak_percentage'])
#             df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, f'{player_type}_cumulative_match_count'] = player_stats[player_id]['match_count']
#             df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, f'{player_type}_cumulative_comeback_count'] = player_stats[player_id]['comeback_count']
    
#     # Compute differences between players
#     df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, 'difference_break_point_save_rate'] = df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, 'winner_cumulative_break_point_save_rate'] - df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, 'loser_cumulative_break_point_save_rate']
#     df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, 'difference_break_point_conversion_rate'] = df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, 'winner_cumulative_break_point_conversion_rate'] - df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, 'loser_cumulative_break_point_conversion_rate']
#     df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, 'difference_tiebreak_percentage'] = df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, 'winner_cumulative_tiebreak_percentage'] - df_selected_columns_without_Davis_cleaned_cumulative2.loc[idx, 'loser_cumulative_tiebreak_percentage']

# # Print out the player_stats for the first 10 players for checking
# for player_id, stats in list(player_stats.items())[:10]:
#     print(f"Player ID: {player_id}, Stats: {stats}")

# # Print the execution time
# print("Execution time: %s seconds" % (time.time() - start_time))

In [115]:
#df_selected_columns_without_Davis_cleaned_cumulative2.isnull().sum()

In [116]:
# # Create a dictionary to store the break points saved stats for each player
# player_bpsaved_stats = {}

# # Iterate through the DataFrame
# for idx, row in df_selected_columns_without_Davis_cleaned.iterrows():
#     for player_type in ['w', 'l']:
#         player_id_column = f'{player_type}inner_id' if player_type == 'w' else f'{player_type}oser_id'
#         player_id = row[player_id_column]

#         # Initialize player stats
#         if player_id not in player_bpsaved_stats:
#             player_bpsaved_stats[player_id] = {
#                 'bpsaved': [],
#                 'match_count': 0
#             }

#         # Add the stats to player_bpsaved_stats only if it's not the player's first game
#         elif player_id in player_bpsaved_stats:
#             # Update player stats
#             player_bpsaved_stats[player_id]['bpsaved'].append(row[f'{player_type}_bpSaved'])
#             player_bpsaved_stats[player_id]['match_count'] += 1

#             # Calculate cumulative averages
#             df_audit_bpsaved.loc[idx, f'{player_type}_bpsaved_cum'] = sum(player_bpsaved_stats[player_id]['bpsaved']) / player_bpsaved_stats[player_id]['match_count']

# # Inspect the first few rows of the DataFrame
# df_audit_bpsaved.head()

In [117]:
#df_audit_bpsaved.to_excel('df_audit_bpsaved.xlsx', index=False)

In [118]:
#df_audit_bpsaved.isnull().sum()

In [120]:
# Start with your original DataFrame
df_audit_bpsaved = df_selected_columns_without_Davis_cleaned.copy()

# Create a dictionary to store cumulative statistics for each player
player_stats = {}

# Iterate through the DataFrame
for idx, row in df_selected_columns_without_Davis_cleaned.iterrows():
    for player_type in ['winner', 'loser']:
        player_id_column = f'{player_type}_id'
        player_id = row[player_id_column]
        
        # Initialize player stats
        if player_id not in player_stats:
            player_stats[player_id] = {
                'bpSaved': [],
            }
        
        # Calculate cumulative averages BEFORE current match
        if len(player_stats[player_id]['bpSaved']) > 0:  # check if there's any previous match
            df_audit_bpsaved.loc[idx, f'{player_type}_bpsaved_cum'] = sum(player_stats[player_id]['bpSaved']) / len(player_stats[player_id]['bpSaved'])
        else:  # for the first match of each player, set the value as NaN
            df_audit_bpsaved.loc[idx, f'{player_type}_bpsaved_cum'] = np.nan
        
        # Update player stats AFTER current match
        player_stats[player_id]['bpSaved'].append(row[f'w_bpSaved' if player_type == 'winner' else 'l_bpSaved'])

# After the loop ends, you might want to export the DataFrame to check the results
df_audit_bpsaved.to_excel("df_audit_bpsaved_re2.xlsx")

In [125]:
df_audit_bpsaved.isnull().sum()

tourney_id                                    0
tourney_name                                  0
surface                                       0
draw_size                                     0
tourney_level                                 0
tourney_date                                  0
match_num                                     0
winner_id                                     0
winner_name                                   0
winner_ioc                                    0
winner_age                                    0
loser_id                                      0
loser_name                                    0
loser_ioc                                     0
loser_age                                     0
score                                         0
best_of                                       0
round                                         0
w_ace                                         0
w_df                                          0
w_svpt                                        0
w_1stIn                                       0
w_1stWon                                      0
w_2ndWon                                      0
w_SvGms                                       0
w_bpSaved                                     0
w_bpFaced                                     0
l_ace                                         0
l_df                                          0
l_svpt                                        0
l_1stIn                                       0
l_1stWon                                      0
l_2ndWon                                      0
l_SvGms                                       0
l_bpSaved                                     0
l_bpFaced                                     0
winner_rank                                   0
loser_rank                                    0
rank_difference                               0
winner_break_point_save_rate               8191
winner_break_point_conversion_rate          226
loser_break_point_save_rate                 226
loser_break_point_conversion_rate          8191
score_sets                                    0
total_tiebreaks                               0
w_tiebreaks                                   0
l_tiebreaks                                   0
winner_tiebreak_percentage                58565
loser_tiebreak_percentage                 58565
winner_comeback_count                         0
break_point_save_rate_difference           8344
break_point_conversion_rate_difference     8344
tiebreak_percentage_difference            58565
winner_bpsaved_cum                          539
loser_bpsaved_cum                          1558
dtype: int64

In [124]:
# Find all unique winner IDs
unique_winner_ids = set(df_selected_columns_without_Davis_cleaned['winner_id'].unique())

# Find all unique loser IDs
unique_loser_ids = set(df_selected_columns_without_Davis_cleaned['loser_id'].unique())

# Check if all winner IDs are in the set of loser IDs
if unique_winner_ids.issubset(unique_loser_ids):
    print("All winner IDs are in the set of loser IDs.")
else:
    # If not, print the IDs of the winners that are not in the set of loser IDs
    print("The following winner IDs are not in the set of loser IDs:")
    print(unique_winner_ids - unique_loser_ids)

All winner IDs are in the set of loser IDs.

In [ ]:
# Final Features

# 1.	Ranking (or difference) --- done
# 2.	Break Point Conversion Rate (or difference) --- done
# 3.	Break Point Save Rate (or difference) --- done
# 4.	Tiebreaks rate (or difference) --- done
# 5.	Comeback count --- done
# 6.	Type of court
# 7.	Recent form / Momentum
# 8.	Grand slam magnitude
# 9.	Home advantage
# 10.	H2H (Head-to-Head)

In [ ]:
# # To hold lengths of sets
# lengths = []

# # To hold range of numbers on either side of "-"
# numbers_ranges = []

# # Iterate through score_sets
# for sets in score_sets:
#     # Store the length of each set of scores
#     lengths.append(len(sets))
    
#     # Iterate through individual sets
#     for set_score in sets:
#         # If set_score contains tiebreak score, remove parentheses and content inside
#         if '(' in set_score:
#             set_score = set_score.split('(')[0]

#         # Split the set_score by "-"
#         numbers = set_score.split('-')

#         # Convert numbers to integers and calculate range
#         try:
#             range_numbers = max(int(numbers[0]), int(numbers[1])) - min(int(numbers[0]), int(numbers[1]))
#             numbers_ranges.append(range_numbers)
#         except ValueError:
#             # Handle cases where conversion to int fails (e.g., non-numeric characters)
#             continue

# # Print the range of lengths and ranges of numbers
# print("Range of set lengths:", min(lengths), "to", max(lengths))
# print("Range of numbers within sets:", min(numbers_ranges), "to", max(numbers_ranges))

In [ ]:
# # Get the maximum length
# max_length = max(lengths)

# # Count how many times the maximum length occurs
# occurrences_of_max_length = lengths.count(max_length)

# print("The maximum length of", max_length, "occurs", occurrences_of_max_length, "times.")

In [ ]:
# rows_with_six_sets = df_selected_columns_without_Davis_cleaned[df_selected_columns_without_Davis_cleaned['score_sets'].apply(len) == 6]

# # Print all rows with 6 sets
# print(rows_with_six_sets)

In [ ]:
# # Function to split the score string into a list of sets
# def split_sets(score_string):
#     return score_string.split()

# # Apply the function to the 'score' column and create a new 'sets' column with the result
# df_selected_columns_without_Davis_cleaned['sets'] = df_selected_columns_without_Davis_cleaned['score'].apply(split_sets)

In [ ]:
#df_selected_columns_without_Davis_cleaned

In [ ]:
#df_selected_columns_without_Davis_cleaned['break_point_save_rate'] = df_selected_columns_without_Davis_cleaned['w_bpSaved'] / df_selected_columns_without_Davis_cleaned['w_bpFaced']
#df_selected_columns_without_Davis_cleaned.loc[:, 'break_point_save_rate'] = df_selected_columns_without_Davis_cleaned['w_bpSaved'] / df_selected_columns_without_Davis_cleaned['w_bpFaced']

In [ ]:
# #df_selected_columns_without_Davis_cleaned.loc[:, 'break_point_save_rate'] = df_selected_columns_without_Davis_cleaned['w_bpSaved'] / df_selected_columns_without_Davis_cleaned['w_bpFaced']
# df_selected_columns_without_Davis_cleaned = df_selected_columns_without_Davis_cleaned.copy()

# # Now create the new column
# df_selected_columns_without_Davis_cleaned.loc[:, 'break_point_save_rate'] = df_selected_columns_without_Davis_cleaned['w_bpSaved'] / df_selected_columns_without_Davis_cleaned['w_bpFaced']

In [ ]:
#df_selected_columns_without_Davis_cleaned

In [ ]:
# df_selected_columns_without_Davis_cleaned = df_selected_columns_without_Davis_cleaned.copy()

# # Now create the new column
# df_selected_columns_without_Davis_cleaned.loc[:, 'break_point_conversion_rate'] = (df_selected_columns_without_Davis_cleaned['l_bpFaced'] - df_selected_columns_without_Davis_cleaned['l_bpSaved']) / df_selected_columns_without_Davis_cleaned['l_bpFaced']

In [ ]:
#df_selected_columns_without_Davis_cleaned

In [ ]:
# # Importing required library
# import numpy as np

# # List of columns to check for outliers
# columns_to_check = ['winner_age','loser_age','best_of','w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon', 
#                     'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
#                     'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
#                     'winner_rank']

# for col in columns_to_check:
#     Q1 = df[col].quantile(0.25)
#     Q3 = df[col].quantile(0.75)
#     IQR = Q3 - Q1

#     # Values below Q1-1.5IQR or above Q3+1.5IQR are considered outliers
#     outliers = df[(df[col] < Q1 - 1.5*IQR) | (df[col] > Q3 + 1.5*IQR)]
    
#     if not outliers.empty:
#         print(f"Outliers detected in column '{col}': {len(outliers)}")

In [ ]:
# import numpy as np

# # Get all the numeric columns
# numeric_cols = df_selected_columns_without_Davis_cleaned._get_numeric_data().columns

# for col in numeric_cols:
#     Q1 = df_selected_columns_without_Davis_cleaned[col].quantile(0.25)
#     Q3 = df_selected_columns_without_Davis_cleaned[col].quantile(0.75)
#     IQR = Q3 - Q1

#     # Values below Q1-1.5IQR or above Q3+1.5IQR are considered outliers
#     outliers = df_selected_columns_without_Davis_cleaned[(df_selected_columns_without_Davis_cleaned[col] < Q1 - 1.5*IQR) | (df_selected_columns_without_Davis_cleaned[col] > Q3 + 1.5*IQR)]
    
#     if not outliers.empty:
#         print(f"Outliers detected in column '{col}': {len(outliers)}")

In [ ]:
# import numpy as np

# # Get all the numeric columns
# numeric_cols = df_selected_columns_without_Davis_cleaned._get_numeric_data().columns

# for col in numeric_cols:
#     Q1 = df_selected_columns_without_Davis_cleaned[col].quantile(0.25)
#     Q3 = df_selected_columns_without_Davis_cleaned[col].quantile(0.75)
#     IQR = Q3 - Q1

#     # Values below Q1-1.5IQR or above Q3+1.5IQR are considered outliers
#     outliers = df_selected_columns_without_Davis_cleaned[(df_selected_columns_without_Davis_cleaned[col] < Q1 - 1.5*IQR) | (df_selected_columns_without_Davis_cleaned[col] > Q3 + 1.5*IQR)]
    
#     if not outliers.empty:
#         print(f"Outliers detected in column '{col}': {len(outliers)}")
#         print(f"Unique outlier values in column '{col}': {outliers[col].unique()}\n")

In [ ]:
# union_all_tables_with_filters = duckdb.sql('''

#         SELECT * 
#         FROM union_all_tables
#         WHERE true
#             AND UPPER (tourney_name) NOT LIKE '%DAVIS%'
        
# ''')

# union_all_tables_with_filters.show()

In [ ]:
# df_pandas_davis = union_all_tables_with_filters.df()
# df_pandas_davis[["score"]]

In [ ]:
#df_pandas_davis.isnull().sum()

In [ ]:
# main_table_with_diff_in_ranking = duckdb.sql('''

#         SELECT *, winner_rank - loser_rank AS diff_in_ranking
#         FROM union_all_tables_with_filters
        
        
            
        
# ''')

# main_table_with_diff_in_ranking.show()

# # audit

# duckdb.sql('''

#         SELECT winner_rank, loser_rank, diff_in_ranking
#         FROM main_table_with_diff_in_ranking
        
        
            
        
# ''').show()

In [ ]:

# df_tie_break = main_table_with_diff_in_ranking.df()

# df_tie_break['list_of_sets_scores'] = df_tie_break['score'].apply(lambda x: str(x).split(' '))

In [ ]:
#df_tie_break

In [ ]:
# # Convert the list to its length
# df_tie_break['list_of_sets_scores_length'] = df_tie_break['list_of_sets_scores'].apply(len)



# # Extract statistical summary
# summary = df_tie_break['list_of_sets_scores_length'].describe()

# print(summary)

# max_length = df_tie_break['list_of_sets_scores_length'].max()

# # Count the occurrences of the maximum length
# max_length_count = df_tie_break['list_of_sets_scores_length'].value_counts().get(max_length)

# print('The maximum length is:', max_length)
# print('The maximum length occurs:', max_length_count, 'times')

In [ ]:


# # Filter rows where list_length is less than or equal to 5

# df_tie_break = df_tie_break[(df_tie_break['list_of_sets_scores_length'] >= 2) & (df_tie_break['list_of_sets_scores_length'] <= 5)]

# #df_tie_break = df_tie_break[df_tie_break['list_of_sets_scores_length'] <= 5 ]





# # Split list_column into multiple columns
# new_columns = pd.DataFrame(df_tie_break['list_of_sets_scores'].to_list(), columns=['set-1', 'set-2', 'set-3', 'set-4', 'set-5'])

# # Add new columns to original dataframe
# df_tie_break_separate_columns = pd.concat([df_tie_break, new_columns], axis=1)

# #df_tie_break_separate_columns

In [ ]:
# df_tie_break_only_grand = df_tie_break[df_tie_break['tourney_level'] == 'G']
# df_tie_break_only_grand

In [ ]:
#df_tie_break_separate_columns

In [ ]:
# #df_tie_break_separate_columns.loc[[93856,"score"]]

# row_number = 93856
# columns_to_select = ['score','list_of_sets_scores', 'list_of_sets_scores_length','set-1','set-2','set-3','set-4','set-5']

# selected_data = df_tie_break_separate_columns.loc[df_tie_break_separate_columns.index[row_number], columns_to_select]
# selected_data

In [ ]:


# # Split list_column into multiple columns
# new_columns = pd.DataFrame(df_tie_break['list_of_sets_scores'].to_list(), columns=['set-1', 'set-2', 'set-3', 'set-4', 'set-5'])

# # Add new columns to original dataframe
# df_tie_break_separate_columns = pd.concat([df_tie_break, new_columns], axis=1)

# #df_tie_break_separate_columns

In [ ]:
#df_tie_break_separate_columns.isnull().sum()